/*--> BLUES BUTTONS ---------------------*/
.bz-btn,
.bz-btn-circle,
.bz-btn-no-style,
.bz-btn-no-style:hover,
.bz-btn-no-style:focus,
.bz-btn-no-style:active,
.bz-btn-link-style,
.bz-btn-link-style:hover,
.bz-btn-link-style:focus,
.bz-btn-link-style:active {
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    overflow: hidden;
    outline:none!important;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-drag: none;
}
.bz-btn,
.bz-btn-circle,
.bz-btn-no-style,
.bz-btn-no-style:hover,
.bz-btn-no-style:focus,
.bz-btn-no-style:active {
    transition: all .3s ease-in;
    border:2px solid transparent;
    font-size:18px;
}
.bz-btn {
    padding: 13px 20px 14px 20px;
}
/* Firefox: Get rid of the inner focus border */
.bz-btn::-moz-focus-inner {
    padding:0;
    border:0;
}
.opera-only :-o-prefocus,
.bz-btn:focus {
    outline:0;
}
.bz-btn-active,
.bz-btn:active {
    border-color:#000\9;
}
.bz-btn-link-style,
.bz-btn-link-style:hover,
.bz-btn-link-style:focus,
.bz-btn-link-style:active,
.bz-btn-no-style,
.bz-btn-no-style:hover,
.bz-btn-no-style:focus,
.bz-btn-no-style:active {
    background:none!important;
    margin:10px;
    outline: 0;
    padding:0;
}
.bz-btn-link-style,
.bz-btn-link-style:hover,
.bz-btn-link-style:focus,
.bz-btn-link-style:active {
    border:none!important;
    font-size:24px;
}
.bz-btn-link-style .text:after {
    background:var(--color-primary);
    bottom:0;
    content: "";
    height:3px;
    left:0;
    position:absolute;
    width:20px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.bz-btn-link-style:hover .text:after {
    width:100%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.border-light {
    border:2px solid #FFF;
    color: #FFF;
}
.border-dark {
    border:2px solid var(--color-dark);
    color:var(--color-dark);
}
.border-light {
    border:2px solid #FFF;
    color: #FFF;
}
.border-blues {
    border:2px solid var(--color-primary);
    color:var(--color-primary);
}
.bz-btn.borad {
    border-radius: 5px;
}
.bz-btn.border-dark.default,
.bz-btn.border-dark.primary,
.bz-btn.border-dark.positive,
.bz-btn.border-dark.warning,
.bz-btn.border-dark.negative,
.bz-btn.border-dark.faded,
.bz-btn.border-light.default,
.bz-btn.border-light.primary,
.bz-btn.border-light.positive,
.bz-btn.border-light.warning,
.bz-btn.border-light.negative,
.bz-btn.border-light.faded,
.bz-btn.border-blues.default,
.bz-btn.border-blues.primary,
.bz-btn.border-blues.positive,
.bz-btn.border-blues.warning,
.bz-btn.border-blues.negative,
.bz-btn.border-blues.faded{
    background:transparent;
}

.bz-btn:hover,
.bz-btn:active,
.bz-btn:focus {
    transition: all .4s ease-in;
}

.bz-btn.default {
    background:var(--color-faded);
}
.bz-btn.white {
    color:var(--color-primary);
    background:#FFF;
}
/* hovers color schemes */

.bz-btn-circle.default:hover,
.bz-btn-circle.default:active,
.bz-btn-circle.default:focus,
.bz-btn.default:hover,
.bz-btn.default:active,
.bz-btn.default:focus {
    border-color:var(--color-faded);
    background-color:var(--color-faded);
    color: #FFF;
}
.bz-btn-circle.white:hover,
.bz-btn-circle.white:active,
.bz-btn-circle.white:focus,
.bz-btn.white:hover,
.bz-btn.white:active,
.bz-btn.white:focus {
    border-color: #FFF;
    color: #FFF;
}
.bz-btn-circle.primary:hover,
.bz-btn-circle.primary:active,
.bz-btn-circle.primary:focus,
.bz-btn.primary:hover,
.bz-btn.primary:active,
.bz-btn.primary:focus {
    border-color:var(--color-primary);
    background-color:var(--color-primary);
    color: #FFF;
}
.bz-btn-circle.positive:hover,
.bz-btn-circle.positive:active,
.bz-btn-circle.positive:focus,
.bz-btn.positive:hover,
.bz-btn.positive:active,
.bz-btn.positive:focus {
    border-color:var(--color-positive);
    background-color:var(--color-positive);
    color: #FFF;
}
.bz-btn-circle.warning:hover,
.bz-btn-circle.warning:active,
.bz-btn-circle.warning:focus,
.bz-btn.warning:hover,
.bz-btn.warning:active,
.bz-btn.warning:focus {
    border-color:var(--color-warning);
    background-color:var(--color-warning);
    color: #FFF;
}
.bz-btn-circle.negative:hover,
.bz-btn-circle.negative:active,
.bz-btn-circle.negative:focus,
.bz-btn.negative:hover,
.bz-btn.negative:active,
.bz-btn.negative:focus {
    border-color:var(--color-negative);
    background-color:var(--color-negative);
    color: #FFF;
}
.bz-btn-circle.faded:hover,
.bz-btn-circle.faded:active,
.bz-btn-circle.faded:focus,
.bz-btn.faded:hover,
.bz-btn.faded:active,
.bz-btn.faded:focus {
    border-color:var(--color-faded);
    background-color:var(--color-faded);
    color: #FFF;
}

.bz-btn-circle.default.hov-reverse,
.bz-btn.default.hov-reverse {
    background-color:var(--color-faded);
    border-color:var(--color-faded);
    color:#fff;
}
.bz-btn-circle.white.hov-reverse,
.bz-btn.white.hov-reverse {
    background-color:#fff;
    border-color: #FFF;
}
.bz-btn-circle.primary.hov-reverse,
.bz-btn.primary.hov-reverse {
    background-color:var(--color-primary);
    border-color:var(--color-primary);
    color:#fff;
}
.bz-btn-circle.positive.hov-reverse,
.bz-btn.positive.hov-reverse {
    background-color:var(--color-positive);
    border-color:var(--color-positive);
    color:#fff;
}
.bz-btn-circle.warning.hov-reverse,
.bz-btn.warning.hov-reverse {
    background-color:var(--color-warning);
    border-color:var(--color-warning);
    color:#fff;
}
.bz-btn-circle.negative.hov-reverse,
.bz-btn.negative.hov-reverse {
    background-color:var(--color-negative);
    border-color:var(--color-negative);
    color:#fff;
}
.bz-btn-circle.faded.hov-reverse,
.bz-btn.faded.hov-reverse {
    background-color:var(--color-faded);
    border-color:var(--color-faded);
    color:#fff;
}
/* reverse hover - background change to white text to border color */
.bz-btn-circle.default.hov-reverse:hover,
.bz-btn-circle.default.hov-reverse:active,
.bz-btn-circle.default.hov-reverse:focus,
.bz-btn.default.hov-reverse:hover,
.bz-btn.default.hov-reverse:active,
.bz-btn.default.hov-reverse:focus {
    background:#FFF;
    border-color:var(--color-faded);
    color:var(--color-faded);
}
.bz-btn-circle.white.hov-reverse:hover,
.bz-btn-circle.white.hov-reverse:active,
.bz-btn-circle.white.hov-reverse:focus,
.bz-btn.white.hov-reverse:hover,
.bz-btn.white.hov-reverse:active,
.bz-btn.white.hov-reverse:focus {
    background:var(--color-primary);
    border-color: #FFF;
}
.bz-btn-circle.primary.hov-reverse:hover,
.bz-btn-circle.primary.hov-reverse:active,
.bz-btn-circle.primary.hov-reverse:focus,
.bz-btn.primary.hov-reverse:hover,
.bz-btn.primary.hov-reverse:active,
.bz-btn.primary.hov-reverse:focus {
    background:#FFF;
    border-color:var(--color-primary);
    color:var(--color-primary);
}
.bz-btn-circle.positive.hov-reverse:hover,
.bz-btn-circle.positive.hov-reverse:active,
.bz-btn-circle.positive.hov-reverse:focus,
.bz-btn.positive.hov-reverse:hover,
.bz-btn.positive.hov-reverse:active,
.bz-btn.positive.hov-reverse:focus {
    background:#FFF;
    border-color:var(--color-positive);
    color:var(--color-positive);
}
.bz-btn-circle.warning.hov-reverse:hover,
.bz-btn-circle.warning.hov-reverse:active,
.bz-btn-circle.warning.hov-reverse:focus,
.bz-btn.warning.hov-reverse:hover,
.bz-btn.warning.hov-reverse:active,
.bz-btn.warning.hov-reverse:focus {
    background:#FFF;
    border-color:var(--color-warning);
    color:var(--color-warning);
}
.bz-btn-circle.negative.hov-reverse:hover,
.bz-btn-circle.negative.hov-reverse:active,
.bz-btn-circle.negative.hov-reverse:focus,
.bz-btn.negative.hov-reverse:hover,
.bz-btn.negative.hov-reverse:active,
.bz-btn.negative.hov-reverse:focus {
    background:#FFF;
    border-color:var(--color-negative);
    color:var(--color-negative);
}
.bz-btn-circle.faded.hov-reverse:hover,
.bz-btn-circle.faded.hov-reverse:active,
.bz-btn-circle.faded.hov-reverse:focus,
.bz-btn.faded.hov-reverse:hover,
.bz-btn.faded.hov-reverse:active,
.bz-btn.faded.hov-reverse:focus {
    background:#FFF;
    border-color:var(--color-faded);
    color:var(--color-faded);
}
.bz-btn[disabled],
.btn-disabled,
.btn-disabled:hover,
.btn-disabled:focus,
.btn-disabled:active {
    filter: alpha(opacity=50);
    opacity: 0.50;
    cursor: not-allowed;
    box-shadow: none;
    pointer-events: none;
}
.bz-btn.to-spin[disabled] {
    filter: alpha(opacity=90);
    opacity: .90;
    cursor: not-allowed;
}
.bz-btn .text {
    margin:0;
    position: relative;
    padding:0;
    z-index: 10!important;
}
.bz-btn .text {
    font-size:18px;
}
.bz-btn.btn-xs {
    padding: 5px 7px 6px 7px;
}
.bz-btn.btn-xs .text {
    font-size:0.9em;
}
.bz-btn.btn-s {
    padding: 11px 16px 12px 16px;
}
.bz-btn.btn-s .text {
    font-size:0.9em;
}
.bz-btn.btn-l .text {
    font-size:1.4em;
}
.bz-btn.btn-xl i {
    font-size:1.6em;
}
.bz-btn.btn-xl i.right {
    font-size:1.6em;
}
.bz-btn.btn-xl .text {
    padding-left:10px;
    font-size:1.8em;
}
.bz-btn.btn-xl i.right ~ .text {
    padding-right:10px;
    font-size:1.8em;
}
/*--------------------*/
.bz-btn-circle {
    border-radius: 50%;
    font-size:18px;
    height:52px;
    width:52px;
}
.bz-btn-circle.btn-xs {
    font-size:16px;
    height:32px;
    width:32px;
}
.bz-btn-circle.btn-s {
    font-size:16px;
    height:44px;
    width:44px;
}
.bz-btn-circle.btn-l {
    font-size:22px;
    height:58px;
    width:58px;
}
.bz-btn-circle.btn-xl {
    font-size:26px;
    height:64px;
    width:64px;
}
.bz-btn-circle i {
    /*font-size:18px;*/
    position: absolute;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.bz-btn i {
    font-size:18px;
    position: absolute;
    padding:0; margin:0;
    z-index: 10!important;
}
.bz-btn i ~ .text {
    margin-left:24px;
    margin-right:0;
}
.bz-btn i.right {
    font-size:18px;
    position: absolute;
    right:20px;
    padding:0; margin:0;
    z-index: 10!important;
}
.bz-btn i.right ~ .text {
    margin-left:0;
    margin-right:24px;
}
.bz-btn.shadow, .bz-btn-circle.shadow, .bz-btn-circle.shadow[disabled]:hover  {
    -moz-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 1px 5px 0 rgba(0, 0, 0, 0.13), 0 3px 1px -2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 1px 5px 0 rgba(0, 0, 0, 0.13), 0 3px 1px -2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.15), 0 1px 5px 0 rgba(0, 0, 0, 0.13), 0 3px 1px -2px rgba(0, 0, 0, 0.3);
}
.bz-btn.shadow:hover, .bz-btn-circle.shadow:hover {
    -moz-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15), 0 1px 7px 0 rgba(0, 0, 0, 0.13), 0 3px 1px -1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15), 0 1px 7px 0 rgba(0, 0, 0, 0.13), 0 3px 1px -1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15), 0 1px 7px 0 rgba(0, 0, 0, 0.13), 0 3px 1px -1px rgba(0, 0, 0, 0.3);
}
.bz-btn.shadow:active, .bz-btn-circle.shadow:active {
    -moz-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.15), 0 1px 10px 0 rgba(0, 0, 0, 0.13), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.15), 0 1px 10px 0 rgba(0, 0, 0, 0.13), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.15), 0 1px 10px 0 rgba(0, 0, 0, 0.13), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
}
/* Button Groups */
.bz-btn-group .bz-btn {
    margin: 0;
    border-radius: 0;
}
.bz-btn-group .bz-btn:focus,
.bz-btn-group .bz-btn:active,
.bz-btn-group .bz-btn:hover {
    border:2px solid var(--color-dark);
}
.bz-btn-group .bz-btn:not(:last-child) {
    border-right:1px solid var(--color-dark);
    border-left:1px solid var(--color-dark);
}
.bz-btn-group .bz-btn:active.borad:first-child,
.bz-btn-group .bz-btn:focus.borad:first-child,
.bz-btn-group .bz-btn:hover.borad:first-child,
.bz-btn-group .bz-btn.borad:first-child {
    border-right:0px solid var(--color-dark);
    border-left:2px solid var(--color-dark);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.bz-btn-group .bz-btn:active.borad:last-child,
.bz-btn-group .bz-btn:focus.borad:last-child,
.bz-btn-group .bz-btn:hover.borad:last-child,
.bz-btn-group .bz-btn.borad:last-child {
    border-right:2px solid var(--color-dark);
    border-left:0px solid var(--color-dark);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    /*border-right:2px solid;*/
}
.bz-btn-group {
    display: inline-block;
    letter-spacing: -0.31em; /* Webkit: collapse white-space between units */
    letter-spacing: normal; /* reset IE < 8 */
    word-spacing: -0.3em; /* IE < 8: collapse white-space between units */
    text-rendering: optimizespeed; /* Webkit: fixes text-rendering: optimizeLegibility */
}

.bz-btn-group .text {
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}
.bz-btn-w-100p .bz-btn {
    margin:5px;
    width: calc(100% - 10px);
}
.bz-check-btn {
    background:var(--color-faded);
    box-sizing: border-box;
    padding: 15px 20px 15px 20px;
    transition: all .3s ease-in;
    border:2px solid transparent;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size:18px;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-drag: none;
}
.bz-check-btn input {
    opacity:0;
    width:0; height:0;
}
.bz-check-btn input:checked ~ .highlight:before {
    content:"";
    cursor:pointer;
    position: absolute;
    left:0; right:0;
    top:0; bottom:0;
    opacity:0.3;
    z-index:0;
}
.bz-check-btn input:checked ~ .highlight:before,
.bz-check-btn.light-hover input:checked:before {
    background:#fff;
}
.bz-check-btn.dark-hover input ~ .highlight:checked:before {
    background:#000;
}
.bz-check-btn .text {
    position: relative;
    z-index:10;
}
