/*--> BLUES FLEX GRIDS  ---------------------*/
.bz-row {
    box-sizing:border-box;
    display:block;
    margin:0 auto;
}
.bz-row:after {
    clear: both;
    content: "";
    display: table;
}
/*.bz-row.margin {
    margin:10px;
}*/
.bz-row .bz-col {
    box-sizing:border-box;
    display: inline-block;
    float: left;
    min-height: 1px;
    left: auto;
    margin-left: auto;
    right: auto;
}
/*.bz-row .bz-col.mb0 {*/
    /*display: none;*/
    /*width: 0;*/
/*}*/
.bz-row .bz-col.mb1 {
    width: 8.3333333333%;
}
.bz-row .bz-col.mb2 {
    width: 16.6666666667%;
}
.bz-row .bz-col.mb3 {
    width: 25%;
}
.bz-row .bz-col.mb4 {
    width: 33.3333333333%;
}
.bz-row .bz-col.mb5 {
    width: 41.6666666667%;
}
.bz-row .bz-col.mb6 {
    width: 50%;
}
.bz-row .bz-col.mb7 {
    width: 58.3333333333%;
}
.bz-row .bz-col.mb8 {
    width: 66.6666666667%;
}
.bz-row .bz-col.mb9 {
    width: 75%;
}
.bz-row .bz-col.mb10 {
    width: 83.3333333333%;
}
.bz-row .bz-col.mb11 {
    width: 91.6666666667%;
}
.bz-row .bz-col.mb12 {
    width: 100%;
}
@media only screen and (min-width: 601px) {
    /*.bz-row .bz-col.tb0 {*/
        /*display: none;*/
        /*width: 0;*/
    /*}*/

    .bz-row .bz-col.tb1 {
        width: 8.3333333333%;
    }
    .bz-row .bz-col.tb2 {
        width: 16.6666666667%;
    }
    .bz-row .bz-col.tb3 {
        width: 25%;
    }
    .bz-row .bz-col.tb4 {
        width: 33.3333333333%;
    }
    .bz-row .bz-col.tb5 {
        width: 41.6666666667%;
    }
    .bz-row .bz-col.tb6 {
        width: 50%;
    }
    .bz-row .bz-col.tb7 {
        width: 58.3333333333%;
    }
    .bz-row .bz-col.tb8 {
        width: 66.6666666667%;
    }
    .bz-row .bz-col.tb9 {
        width: 75%;
    }
    .bz-row .bz-col.tb10 {
        width: 83.3333333333%;
    }
    .bz-row .bz-col.tb11 {
        width: 91.6666666667%;
    }
    .bz-row .bz-col.tb12 {
        width: 100%;
    }
}
@media only screen and (min-width: 993px) {
    /*.bz-row .bz-col.mt0 {*/
        /*display: none;*/
        /*width: 0;*/
    /*}*/
    .bz-row .bz-col.mt1 {
        width: 8.3333333333%;
    }
    .bz-row .bz-col.mt2 {
        width: 16.6666666667%;
    }
    .bz-row .bz-col.mt3 {
        width: 25%;
    }
    .bz-row .bz-col.mt4 {
        width: 33.3333333333%;
    }
    .bz-row .bz-col.mt5 {
        width: 41.6666666667%;
    }
    .bz-row .bz-col.mt6 {
        width: 50%;
    }
    .bz-row .bz-col.mt7 {
        width: 58.3333333333%;
    }
    .bz-row .bz-col.mt8 {
        width: 66.6666666667%;
    }
    .bz-row .bz-col.mt9 {
        width: 75%;
    }
    .bz-row .bz-col.mt10 {
        width: 83.3333333333%;
    }
    .bz-row .bz-col.mt11 {
        width: 91.6666666667%;
    }
    .bz-row .bz-col.mt12 {
        width: 100%;
    }
}
@media only screen and (min-width: 1201px) {
    /*.bz-row .bz-col.ws0 {*/
        /*display: none;*/
        /*width: 0;*/
    /*}*/
    .bz-row .bz-col.ws1 {
        width: 8.3333333333%;
    }
    .bz-row .bz-col.ws2 {
        width: 16.6666666667%;
    }
    .bz-row .bz-col.ws3 {
        width: 25%;
    }
    .bz-row .bz-col.ws4 {
        width: 33.3333333333%;
    }
    .bz-row .bz-col.ws5 {
        width: 41.6666666667%;
    }
    .bz-row .bz-col.ws6 {
        width: 50%;
    }
    .bz-row .bz-col.ws7 {
        width: 58.3333333333%;
    }
    .bz-row .bz-col.ws8 {
        width: 66.6666666667%;
    }
    .bz-row .bz-col.ws9 {
        width: 75%;
    }
    .bz-row .bz-col.ws10 {
        width: 83.3333333333%;
    }
    .bz-row .bz-col.ws11 {
        width: 91.6666666667%;
    }
    .bz-row .bz-col.ws12 {
        width: 100%;
    }
}