/* BLUES PAGINATION */
/*
=====
LEVEL 0. RESET BROWSER'S STYLES
=====
*/

.pagination__list{
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
}

/*
=====
LEVEL 1. CORE COMPONENT STYLES
=====
*/

.pagination{
    --uiPaginationAlign: var(--paginationAlign);
    --uiPaginationArrowSize: var(--paginationArrowSize, 16px);
    --uiPaginationFontSize: var(--paginationFontSize);

    font-size: var(--uiPaginationFontSize);
}

.pagination__list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: var(--uiPaginationAlign);
}

.pagination__item:not(.pagination__control_prev):not(.pagination__item_active){
    padding-left: .5em;
}

.pagination__item:not(.pagination__control_next):not(.pagination__item_active){
    padding-right: .5em;
}

.pagination__item{
    display: inline-block;
    line-height: 1;
}

.pagination__control{
    position: relative;
}

.pagination__control:before, .pagination__control:after{
    font-size: var(--uiPaginationArrowSize);
    line-height: 1;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.pagination__control_prev{
    padding-left: calc(var(--uiPaginationArrowSize) + 5px);
}

.pagination__control_prev:before{
    content: "←";
    left: 0;
}

.pagination__control_next{
    padding-right: calc(var(--uiPaginationArrowSize) + 5px);
}

.pagination__control_next:after{
    content: "→";
    right: 0;
}

.pagination__item_active{
    padding: .5875em .8em;
    margin-right: .5em;
    margin-left: .5em;
}

/*
=====
LEVEL 2. PRESENTATION STYLES
=====
*/

.pagination{
    --uiPaginationItemTextColor: var(--paginationItemTextColor);
    --uiPaginationItemActiveTextColor: var(--paginationItemActiveTextColor);
}

.pagination__item{
    text-decoration: none;
    color: var(--uiPaginationItemTextColor);
}

.pagination__item_active{
    font-weight: 700;
    color: var(--uiPaginationItemActiveTextColor);
}

.pagination__item:focus{
    outline-color: var(--uiPaginationItemActiveBgColor);
}

/* type 1 */

.pagination_type1{
    --uiPaginationItemActiveBgColor: var(--paginationItemActiveBgColor);
}

.pagination_type1 .pagination__item_active{
    background-color: var(--uiPaginationItemActiveBgColor);
}

/* type 2 */

.pagination_type2{
    --uiPaginationItemActiveBorderWidth: var(--paginationItemActiveBorderWidth);
    --uiPaginationItemActiveBorderColor: var(--paginationItemActiveBorderColor, transparent);
}

.pagination_type2 .pagination__item_active{
    border: var(--uiPaginationItemActiveBorderWidth) solid var(--uiPaginationItemActiveBorderColor);
}

/* type 3 */

.pagination_type3{
    --uiPaginationItemBorderRadius: var(--paginationItemBorderRadius);
}

.pagination_type3 .pagination__item_active{
    border-radius: var(--uiPaginationItemBorderRadius);
}

/*
=====
LEVEL 3. SETTINGS
=====
*/

.demo{
    --paginationAlign: center;
    --paginationFontSize: 1rem;
    --paginationItemActiveBgColor:var(--color-primary);
    --paginationItemTextColor:var(--color-info);
    --paginationItemActiveTextColor: #fff;
}

.demo:nth-of-type(2), .demo:nth-of-type(4){
    --paginationItemTextColor:var(--color-info);
    --paginationItemActiveTextColor:var(--color-primary);
    --paginationItemActiveBgColor: #fff;
    --paginationItemActiveBorderColor:var(--color-primary);
    --paginationItemActiveBorderWidth: 2px;
}

.demo:nth-of-type(3), .demo:nth-of-type(4){
    --paginationItemBorderRadius: 50%;
}

.demo:nth-of-type(5){
    --paginationItemBorderRadius: 2px;
}

.demo:nth-of-type(6){
    --paginationArrowIndent: 5px;
    --paginationItemPadding: 10px 15px;
    --paginationItemTextColor: #fff;
    --paginationItemActiveBgColor:var(--color-primary);
}

.demo:nth-of-type(6) .pagination{
    background-color:var(--color-faded);
}
/* BLUES BREADCRUMBS */
.bz-breadcrumbs,
.bz-multi-steps {
    padding:8px;
}
.bz-breadcrumbs:after,
.bz-multi-steps:after {
    content: "";
    display: table;
    clear: both;
}
.bz-breadcrumbs li,
.bz-multi-steps li {
    display: inline-block;
    float: left;
    margin: 4px 0;
}
.bz-breadcrumbs li::after,
.bz-multi-steps li::after {
    display: inline-block;
    content: '\00bb';
    margin: 4px;
    color: #959fa5;
}
.bz-breadcrumbs li:last-of-type::after,
.bz-multi-steps li:last-of-type::after {
    display: none;
}
.bz-breadcrumbs li > *,
.bz-multi-steps li > * {
    display: inline-block;
    color: #2c3f4c;
}
.bz-breadcrumbs li.current > *,
.bz-multi-steps li.current > * {
    color:var(--color-primary);
}
@media only screen and (min-width: 768px) {
    .bz-breadcrumbs,
    .bz-multi-steps {
        padding: 0 8px;
    }
    .bz-breadcrumbs li,
    .bz-multi-steps li {
        margin: 8px 0;
    }
    .bz-breadcrumbs li::after,
    .bz-multi-steps li::after {
        margin: 0 8px;
    }
}
/* --------------------------------
Multi steps indicator
-------------------------------- */
@media only screen and (min-width: 768px) {
    .bz-multi-steps {
        background-color: transparent;
        padding: 0;
        text-align: center;
    }
    .bz-multi-steps li {
        position: relative;
        float: none;
        margin: 4px 40px 4px 0;
    }
    .bz-multi-steps li:last-of-type {
        margin-right: 0;
    }
    .bz-multi-steps li::after {
        position: absolute;
        content: '';
        height: 4px;
        background: #edeff0;
        margin: 0;
    }
    .bz-multi-steps li.done::after {
        background-color:var(--color-primary);
    }
    .bz-multi-steps li > *, .bz-multi-steps li.current > * {
        position: relative;
        color: #2c3f4c;
    }
    .bz-multi-steps li {
        width:64px;
        text-align: center;
    }
    .bz-multi-steps li::after {
        position: absolute;
        left: 50%;
        width: calc(100% + 40px);
    }
    .bz-multi-steps li > *::before {
        content: '';
        position: absolute;
        z-index: 1;
        left: 50%;
        right: auto;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        height: 12px;
        width: 12px;
        background-color: #edeff0;
    }
    .bz-multi-steps.text-top.circle li > *::before,
    .bz-multi-steps.text-bottom.circle li > *::before {
        border-radius: 50%;
    }

    .bz-multi-steps li > a:hover::before {
        background:var(--color-positive);
    }

    .bz-multi-steps li.done > *::before,
    .bz-multi-steps li.current > *::before {
        background-color:var(--color-primary);
    }
    .bz-multi-steps.text-top li::after {
        bottom: 4px;
    }
    .bz-multi-steps.text-top li > * {
        padding-bottom: 20px;
    }
    .bz-multi-steps.text-top li > *::before {
        bottom: 0;
    }

    .bz-multi-steps.text-bottom li::after {
        top: 3px;
    }
    .bz-multi-steps.text-bottom li > * {
        padding-top: 20px;
    }
    .bz-multi-steps.text-bottom li > *::before {
        top: 0;
    }
}
.bz-multi-steps.count li {
    counter-increment: steps;
}
.bz-multi-steps.count li > *::before {
    content: counter(steps) " - ";
}
@media only screen and (min-width: 768px) {
    .bz-multi-steps.count li > *::before {
        content: counter(steps);
        height: 26px;
        width: 26px;
        line-height: 26px;
        color: #ffffff;
    }
    .bz-multi-steps.count li:not(.current) .pseudo-a::before {
        color: #2c3f4c;
    }
    .bz-multi-steps.text-top.count li::after {
        bottom: 11px;
    }
    .bz-multi-steps.text-top.count li > * {
        padding-bottom: 34px;
    }
    .bz-multi-steps.text-bottom.count li::after {
        top: 11px;
    }
    .bz-multi-steps.text-bottom.count li > * {
        padding-top: 34px;
    }
}