<div class="bz-footer">
    <div class="bz-padding-16 bz-t-align-c">
        <ul class="bz-list-no-style">
            <li>
                <a class="bz-link" href="https://blues.teobyte.com">
                    <span class="text">Blues Framework</span>
                </a>
                 by Teobyte. 2016 - 2020 All rights reserved.
            </li>
            <li>
                Open source under MIT License.
            </li>
        </ul>

    </div>
</div>