<div class="bz-toolbar primary">
    <div id="leftSideBtn" class="tool bz-sidenav-btn"
         data-nav="leftSide" data-cont=".bz-content" data-mode="single" data-openstart="1" data-side="left" data-rtl="false">
        <div class="back circle"></div>
        <i class="bzi-menu"></i>
    </div>
    <div class="title">Blues 2.0</div>
    <!--<div id="leftRightBtn" class="tool bz-sidenav-btn"-->
         <!--data-nav="rightSide" data-cont=".bz-content" data-mode="mobile" data-openstart="0" data-side="right" data-rtl="false">-->
        <!--<div class="back circle"></div>-->
        <!--<i class="bzi-menu"></i>-->
    <!--</div>-->
    <div id="menu-pop-01" class="bz-popover bottom right">
        <div class="tool trigger">
            <div class="back circle bz-wave"></div>
            <i class="bzi-ellipsis-v"></i>
        </div>
        <div class="popover">
            <ul class="bz-list-no-style bz-fc-faded">
                <li class="bz-fc-primary bz-fc-hover-secondary">
                    <a class="" href="../neu/index">Neumorphic Design</a>
                </li>

            </ul>
        </div>
    </div>
</div>
<div class="bz-nav">
    <div class="bz-nav-item">
        <a href="../components/inputs">
            <span class="text">Form Fields</span>
        </a>
    </div>
    <div class="bz-nav-item">
        <a href="../components/flex">
            <span class="text">Flex Grid</span>
        </a>
    </div>
    <div class="bz-nav-item">
        <a href="../components/buttons">
            <span class="text">Buttons</span>
        </a>
    </div>
    <div class="bz-nav-item">
        <a href="../components/icons">
            <span class="text">Icons</span>
        </a>
    </div>
    <div class="bz-nav-item middle">
    </div>
    <div class="bz-nav-item">
        <a href="../components/inputs">
            <span class="text">Exit</span>
        </a>
    </div>
</div>
