<ul class="bz-sidenav-list bz-list-hover-ease">
    {{#each pages}}
        <li class="{{this.itemClass}}">
            <a href="{{this.pagePath}}">
                <span class="text">{{this.pageTitle}}</span>
            </a>
        </li>
    {{/each}}
</ul>