<div class="bz-page-box bz-animate-left">
    <div class="bz-toolbar-box">

    </div>
    <div class="bz-title-box">
        <h1>{{title}}</h1>
    </div>
    <div class="bz-content-box">
        <div class="bz-box bz-block">
            <div class="bz-padding-16">
                <h6>Buttons</h6>
                <button id="btn-one" class="bz-btn bz-wave">
                    <i class="bzi-user"></i>
                    Default
                </button>
                <button id="btn-one" class="bz-btn shadow bz-wave">
                    <i class="bzi-user right"></i>
                    Shadowed
                </button>
                <button id="btn-one" class="bz-btn primary" disabled>
                    <i class="bzi-user"></i>
                    Disabled
                </button>
                <button id="btn-one" class="bz-btn positive bz-wave positive-wave inverted">
                    <i class="bzi-user"></i>
                    Colored
                </button>
                <button class="bz-btn-circle shadow primary bz-wave">
                    <i class="bzi-data-upload"></i>
                </button>
                <button class="bz-btn-link-style bz-wave">
                    <span class="text">Link Button</span>
                </button>
            </div>
            <div class="bz-padding-16">
                <h6>Button themes (default)</h6>
                <button id="btn-one" class="bz-btn default bz-wave">
                    <i class="bzi-user"></i>
                    Button
                </button>
                <button id="btn-one" class="bz-btn primary bz-wave">
                    <i class="bzi-user"></i>
                    Button
                </button>
                <button id="btn-one" class="bz-btn positive bz-wave">
                    <i class="bzi-user"></i>
                    Button
                </button>
                <button id="btn-one" class="bz-btn negative bz-wave">
                    <i class="bzi-user"></i>
                    Button
                </button>
                <button id="btn-one" class="bz-btn warning bz-wave">
                    <i class="bzi-user"></i>
                    Button
                </button>
                <button id="btn-one" class="bz-btn info bz-wave">
                    <i class="bzi-user"></i>
                    Button
                </button>
            </div>
            <div class="bz-padding-16">
                <h6>Button themes (inverted)</h6>
                <button id="btn-one" class="bz-btn default bz-wave default-wave inverted">
                    <i class="bzi-user"></i>
                    Button
                </button>
                <button id="btn-one" class="bz-btn primary bz-wave primary-wave inverted">
                    <i class="bzi-user"></i>
                    Button
                </button>
                <button id="btn-one" class="bz-btn positive bz-wave positive-wave inverted">
                    <i class="bzi-user"></i>
                    Button
                </button>
                <button id="btn-one" class="bz-btn negative bz-wave negative-wave inverted">
                    <i class="bzi-user"></i>
                    Button
                </button>
                <button id="btn-one" class="bz-btn warning bz-wave warning-wave inverted">
                    <i class="bzi-user"></i>
                    Button
                </button>
                <button id="btn-one" class="bz-btn info bz-wave info-wave inverted">
                    <i class="bzi-user"></i>
                    Button
                </button>
            </div>
            <div class="bz-padding-16">
                <h6>Button rounded</h6>
                <button id="btn-one" class="bz-btn default rounded inverted">
                    <i class="bzi-user"></i>
                    Button
                </button>
                <button id="btn-one" class="bz-btn primary rounded inverted">
                    <i class="bzi-user"></i>
                    Button
                </button>
                <button id="btn-one" class="bz-btn positive rounded inverted">
                    <i class="bzi-user"></i>
                    Button
                </button>
                <button id="btn-one" class="bz-btn negative rounded inverted">
                    <i class="bzi-user"></i>
                    Button
                </button>
                <button id="btn-one" class="bz-btn warning rounded inverted">
                    <i class="bzi-user"></i>
                    Button
                </button>
                <button id="btn-one" class="bz-btn info rounded inverted">
                    <i class="bzi-user"></i>
                    Button
                </button>
            </div>
            <div class="bz-padding-16">
                <h6>Button size</h6>
                <button id="btn-one" class="bz-btn info rounded inverted btn-xs">
                    <i class="bzi-user"></i>
                    Button
                </button>
                <button id="btn-one" class="bz-btn primary rounded inverted btn-s">
                    <i class="bzi-user"></i>
                    Button
                </button>
                <button id="btn-one" class="bz-btn positive rounded inverted">
                    <i class="bzi-user"></i>
                    Button
                </button>
                <button id="btn-one" class="bz-btn negative rounded inverted btn-l">
                    <i class="bzi-user"></i>
                    Button
                </button>
                <button id="btn-one" class="bz-btn warning rounded inverted btn-xl">
                    <i class="bzi-user"></i>
                    Button
                </button>
            </div>
            <div class="bz-padding-16">
                <h6>Round button</h6>
                <button class="bz-btn-circle shadow primary btn-xs">
                    <i class="bzi-envelope"></i>
                </button>
                <button class="bz-btn-circle shadow positive btn-s">
                    <i class="bzi-envelope"></i>
                </button>
                <button class="bz-btn-circle shadow negative">
                    <i class="bzi-envelope"></i>
                </button>
                <button class="bz-btn-circle shadow warning btn-l">
                    <i class="bzi-envelope"></i>
                </button>
                <button class="bz-btn-circle shadow info btn-xl">
                    <i class="bzi-envelope"></i>
                </button>
            </div>

            <div class="bz-padding-16 bz-bc-white">
                <h6>Button Group</h6>
                <button class="bz-btn">Button</button>
                <div class="bz-btn-group">
                    <button class="bz-btn rounded primary bz-wave">
                        <span class="text">Primary</span>
                    </button>
                    <button class="bz-btn rounded negative bz-wave">
                        <span class="text">Negative</span>
                    </button>
                    <button class="bz-btn rounded info bz-wave">
                        <span class="text">Info</span>
                    </button>
                    <button class="bz-btn rounded warning bz-wave">
                        <span class="text">Warning</span>
                    </button>
                </div>
            </div>

            <div class="bz-padding-16 bz-clearfix">
                <h5>Checkbox Buttons</h5>
                <button class="bz-btn">Button</button>
                <div class="bz-btn-group">
                    <label  class="bz-check-btn">
                        <input id="chk1" type="checkbox" name="chk" checked/>
                        <span class="highlight"></span>
                        <span class="text">Check button</span>
                    </label>
                    <label  class="bz-check-btn">
                        <input id="chk2" type="checkbox" name="chk" />
                        <span class="highlight"></span>
                        <span class="text">Check button</span>
                    </label>
                    <label  class="bz-check-btn">
                        <input id="chk3" type="checkbox" name="chk" />
                        <span class="highlight"></span>
                        <span class="text">Check button</span>
                    </label>
                </div>
            </div>

            <div class="bz-padding-16 bz-clearfix">
                <h5>Radio Buttons</h5>
                <button class="bz-btn">Button</button>
                <div class="bz-btn-group">
                    <label  class="bz-check-btn">
                        <input id="radio1" type="radio" name="radios" checked/>
                        <span class="highlight"></span>
                        <span class="text">Radio 01</span>
                    </label>
                    <label  class="bz-check-btn">
                        <input id="radio2" type="radio" name="radios" />
                        <span class="highlight"></span>
                        <span class="text">Radio 01</span>
                    </label>
                    <label  class="bz-check-btn">
                        <input id="radio3" type="radio" name="radios" />
                        <span class="highlight"></span>
                        <span class="text">Radio 01</span>
                    </label>
                </div>
            </div>

        </div>
    </div>
</div>