<div class="bz-page-box bz-animate-left">
    <div class="bz-toolbar-box">

    </div>
    <div class="bz-title-box">
        <h1>{{title}}</h1>
    </div>
    <div class="bz-content-box">
        <div class="bz-box bz-w-100p">
            <div class="bz-row bz-t-align-center">
                <div class="bz-col mb6 tb3 mt2 bz-padding-4">
                    <div class="bz-bc-white bz-shadow bz-padding-16">
                        White
                    </div>
                </div>
                <div class="bz-col mb6 tb3 mt2 bz-padding-4">
                    <div class="bz-bc-gray-light bz-shadow bz-padding-16">
                        Gray Light
                    </div>
                </div>
                <div class="bz-col mb6 tb3 mt2 bz-padding-4">
                    <div class="bz-bc-gray bz-fc-white bz-shadow bz-padding-16">
                        Gray
                    </div>
                </div>
                <div class="bz-col mb6 tb3 mt2 bz-padding-4">
                    <div class="bz-bc-gray-darker bz-fc-white bz-shadow bz-padding-16">
                        Gray Darker
                    </div>
                </div>
                <div class="bz-col mb6 tb3 mt2 bz-padding-4">
                    <div class="bz-bc-black bz-fc-white bz-shadow bz-padding-16">
                        Black
                    </div>
                </div>
                <div class="bz-col mb6 tb3 mt2 bz-padding-4">
                    <div class="bz-bc-primary bz-fc-white bz-shadow bz-padding-16">
                        Navy
                    </div>
                </div>
                <div class="bz-col mb6 tb3 mt2 bz-padding-4">
                    <div class="bz-bc-positive bz-shadow bz-padding-16">
                        Green
                    </div>
                </div>
                <div class="bz-col mb6 tb3 mt2 bz-padding-4">
                    <div class="bz-bc-negative bz-fc-white bz-shadow bz-padding-16">
                        Red
                    </div>
                </div>
                <div class="bz-col mb6 tb3 mt2 bz-padding-4">
                    <div class="bz-bc-warning bz-fc-white bz-shadow bz-padding-16">
                        Orange
                    </div>
                </div>
                <div class="bz-col mb6 tb3 mt2 bz-padding-4">
                    <div class="bz-bc-info bz-shadow bz-padding-16">
                        Aqua
                    </div>
                </div>
                <div class="bz-col mb6 tb3 mt2 bz-padding-4">
                    <div class="bz-bc-yellow bz-shadow bz-padding-16">
                        Yellow
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>