<div class="bz-page-box bz-animate-left">
    <div class="bz-toolbar-box">

    </div>
    <div class="bz-title-box">
        <h1>{{title}}</h1>
    </div>
    <div class="bz-content-box">
        <div class="bz-block">
            <div class="bz-padding-16">
                <div class="bz-padding-8">
                    <h5>Alerts</h5>
                    <div class="bz-padding-8 bz-clearfix">
                        <input id="callminimized" type="button" class="bz-btn" value="Minimized">
                        <input id="calltop" type="button" class="bz-btn" value="Top alert">
                        <input id="callright" type="button" class="bz-btn" value="Right alert">
                        <input id="callbottom" type="button" class="bz-btn" value="Bottom alert">
                        <input id="callleft" type="button" class="bz-btn" value="Left alert">
                    </div>
                    <div class="bz-padding-8 bz-clearfix">
                        <input id="callalert" type="button" class="bz-btn" value="Simple alert">
                        <input id="callconfirm" type="button" class="bz-btn" value="Confirm dialog">
                        <input id="callprompt" type="button" class="bz-btn" value="Prompt dialog">
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{{#section 'modals'}}
    <div id="minimized" class="bz-modal minimized" data-btn="callminimized">
        <div class="content">
            <div class="bz-t-title">Minimized modal window</div>
            <p>Alert style modal window</p>
        </div>
    </div>
    <div id="top" class="bz-modal top" data-btn="calltop">
        <div class="content">
            <div class="bz-t-title">Minimized modal window</div>
            <p>Alert style modal window</p>
        </div>
    </div>
    <div id="right" class="bz-modal right" data-btn="callright">
        <div class="content">
            <div class="bz-t-title">Minimized modal window</div>
            <p>Alert style modal window</p>
        </div>
    </div>
    <div id="bottom" class="bz-modal bottom" data-btn="callbottom">
        <div class="content">
            <div class="bz-t-title">Minimized modal window</div>
            <p>Alert style modal window</p>
        </div>
    </div>
    <div id="left" class="bz-modal left" data-btn="callleft">
        <div class="content">
            <div class="bz-t-title">Minimized modal window</div>
            <p>Alert style modal window</p>
        </div>
    </div>
    <div id="prompt" class="bz-modal">
        <div class="content">
            <form>
                <div class="bz-row">
                    <input name="name" type="text" class="bz-input" data-class="w-100p" placeholder="Name">
                </div>
            </form>
        </div>
    </div>
{{/section}}
{{#section 'scripts'}}
    <script>
        bzDom('#callalert').on('click', function() {
            bz.alert('it works', function() {
                alert('alert callback');
            });
        });
        bzDom('#callconfirm').on('click', function() {
            bz.confirm('Are you sure?', function() {
                alert('confirmation callback');
            }, function() {
                alert('declining callback');
            });
        });
        bzDom('#callprompt').on('click', function() {
            bzDom('#prompt').prompt(function(formdata) {
                alert(JSON.stringify(formdata));
            }, function() {
                alert('cancel data');
            }, { width: '640px' });
        });
        bz.Modal({
            selector: '#minimized',
            type: 'alert'
        });
        bz.Modal({
            selector: '#top',
            type: 'alert'
        });
        bz.Modal({
            selector: '#right',
            type: 'alert'
        });
        bz.Modal({
            selector: '#bottom',
            type: 'alert'
        });
        bz.Modal({
            selector: '#left',
            type: 'alert'
        });
    </script>
{{/section}}