<div class="bz-page-box bz-animate-left">
    <div class="bz-toolbar-box">

    </div>
    <div class="bz-title-box">
        <h1>{{title}}</h1>
    </div>
    <div class="bz-content-box">
        <div class="bz-box bz-block">
            <div class="bz-padding-16 bz-clearfix">
                <div class="bz-padding-8">
                    <h5>Blockquote</h5>
                    <div>
                        <blockquote class="positive">
                            <p class="bz-t-regular">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                            <span class="bz-t-caption">
                        Lorem ipsum dolor sit amet
                        <cite title="Consectetur Adipiscing Elit">Consectetur Adipiscing Elit</cite>
                    </span>
                        </blockquote>
                    </div>
                    <div class="bz-clear h-8"></div>
                    <textarea class="bz-code html">
            <blockquote>
                <p class="bz-t-regular">Lorem ipsum dolor sit amet.</p>
                <span class="bz-t-caption">Lorem ipsum dolor sit amet
                    <cite>Consectetur Adipiscing Elit</cite>
                </span>
            </blockquote>
        </textarea>
                </div>

                <div class="bz-padding-8">
                    <h5>Definition List - Vertical</h5>
                    <div>
                        <dl class="bz-deflist">
                            <dt>Description lists</dt>
                            <dd>A description list is perfect for defining terms.</dd>
                            <dt>Euismod</dt>
                            <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
                            <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                            <dt>Malesuada porta</dt>
                            <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
                        </dl>
                    </div>

                    <textarea class="bz-code html">
            <dl class="bz-deflist">
                <dt>Description lists</dt>
                <dd>A description list is perfect for defining terms.</dd>
                <dt>Euismod</dt>
                <dd>Vestibulum id ligula porta felis euismod semper.</dd>
                <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                <dt>Malesuada porta</dt>
                <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
            </dl>
            </textarea>

                    <h5>Definition List - Horizontal</h5>

                    Add class <span class="bz-fc-positive bz-ft-bold">.horizontal</span> to <span class="bz-fc-primary bz-ft-bold">dl.bz-deflist</span> of defenition list "Vertical".

                    <div>
                        <dl class="bz-deflist horizontal">
                            <dt>Description lists</dt>
                            <dd>A description list is perfect for defining terms.</dd>
                            <dt>Euismod</dt>
                            <dd>Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
                            <dd>Donec id elit non mi porta gravida at eget metus.</dd>
                            <dt>Malesuada porta</dt>
                            <dd>Etiam porta sem malesuada magna mollis euismod.</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>