<div class="bz-page-box bz-animate-left">
    <div class="bz-toolbar-box">

    </div>
    <div class="bz-title-box">
        <h1>{{title}}</h1>
    </div>
    <div class="bz-content-box">
        <div class="bz-box bz-block">
            <div class="bz-padding-16 bz-clearfix">
                <div class="bz-pagination">
                    <a href="#!" class="prevLink">prev</a>
                    <a href="#!" class="step">1</a>
                    <span class="currentStep">2</span>
                    <a href="#!" class="step">3</a>
                    <a href="#!" class="step">4</a>
                    <a href="#!" class="step">5</a>
                    <a href="#!" class="step">6</a>
                    <a href="#!" class="step">7</a>
                    <a href="#!" class="step">8</a>
                    <span class="step gap">..</span>
                    <a href="#!" class="step">14998</a>
                    <a href="#!" class="nextLink">next</a>
                </div>
            </div>
        </div>
    </div>
</div>