<div class="bz-page-box bz-animate-left">
    <div class="bz-toolbar-box">

    </div>
    <div class="bz-title-box">
        <h1>{{title}}</h1>
    </div>
    <div class="bz-content-box">
        <div class="bz-block">
            <div class="bz-padding-16">
                <div class="bz-clear h-128"></div>
                <div class="bz-row">
                    <div class="bz-col mb3 bz-t-align-c">
                        <div class="bz-popover top">
                            <button class="bz-btn">
                                Popover
                            </button>
                            <div class="popover">
                                <ul class="bz-list-no-style">
                                    <li>Popover item</li>
                                    <li>Popover item</li>
                                    <li>Popover item</li>
                                    <li>Popover item</li>
                                    <li>Popover item</li>
                                    <li>Popover item</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="bz-col mb3 bz-t-align-c">
                        <div class="bz-popover left">
                            <button class="bz-btn">
                                Left
                            </button>
                            <div class="popover">
                                <ul class="bz-list-no-style">
                                    <li>Popover item</li>
                                    <li>Popover item</li>
                                    <li>Popover item</li>
                                    <li>Popover item</li>
                                    <li>Popover item</li>
                                    <li>Popover item</li>
                                    <li>Popover item</li>
                                    <li>Popover item</li>
                                    <li>Popover item</li>
                                    <li>Popover item</li>
                                    <li>Popover item</li>
                                    <li>Popover item</li>
                                    <li>Popover item</li>
                                    <li>Popover item</li>
                                    <li>Popover item</li>
                                    <li>Popover item</li>
                                    <li>Popover item</li>
                                    <li>Popover item</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="bz-col mb3 bz-t-align-c">
                        <div class="bz-popover right">
                            <button class="bz-btn">
                                Right
                            </button>
                            <div class="popover">
                                <ul class="bz-list-no-style">
                                    <li>Popover item</li>
                                    <li>Popover item</li>
                                    <li>Popover item</li>
                                    <li>Popover item</li>
                                    <li>Popover item</li>
                                    <li>Popover item</li>
                                    <li>Popover item</li>
                                    <li>Popover item</li>
                                    <li>Popover item</li>
                                    <li>Popover item</li>
                                    <li>Popover item</li>
                                    <li>Popover item</li>
                                    <li>Popover item</li>
                                    <li>Popover item</li>
                                    <li>Popover item</li>
                                    <li>Popover item</li>
                                    <li>Popover item</li>
                                    <li>Popover item</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="bz-col mb3 bz-t-align-c">
                        <div class="bz-popover bottom">
                            <button class="bz-btn">
                                Bottom
                            </button>
                            <div class="popover">
                                <ul class="bz-list-no-style">
                                    <li>Popover item</li>
                                    <li>Popover item</li>
                                    <li>Popover item</li>
                                    <li>Popover item</li>
                                    <li>Popover item</li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>