<div class="bz-page-box bz-animate-left">
    <div class="bz-toolbar-box">

    </div>
    <div class="bz-title-box">
        <h1>{{title}}</h1>
    </div>
    <div class="bz-content-box">
        <div class="bz-block">
            <div class="bz-padding-16">
                <div class="bz-clear h-128"></div>
                <div class="bz-row">
                    <div class="bz-col mb12 tb6 mt3">
                        <div class="bz-popover top">
                            <button class="bz-btn trigger">
                                Top
                            </button>
                            <div class="popover">
                                <ul class="bz-list-no-style bz-fc-primary">
                                    <li>
                                        <a href="#">
                                            <span>Popover item</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Popover item</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Popover item</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="bz-col mb12 tb6 mt3">
                        <div class="bz-popover left">
                            <button class="bz-btn trigger">
                                Left
                            </button>
                            <div class="popover">
                                <ul class="bz-list-no-style bz-fc-primary">
                                    <li>
                                        <a href="#">
                                            <span>Popover item</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Popover item</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Popover item</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="bz-col mb12 tb6 mt3">
                        <div class="bz-popover right">
                            <button class="bz-btn trigger">
                                Right
                            </button>
                            <div class="popover">
                                <ul class="bz-list-no-style bz-fc-primary">
                                    <li>
                                        <a href="#">
                                            <span>Popover item</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Popover item</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Popover item</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="bz-col mb12 tb6 mt3">
                        <div class="bz-popover bottom">
                            <button class="bz-btn trigger">
                                Bottom
                            </button>
                            <div class="popover">
                                <ul class="bz-list-no-style bz-fc-primary">
                                    <li>
                                        <a href="#">
                                            <span>Popover item</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Popover item</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Popover item</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="bz-clear h-128"></div>
                <div class="bz-row">
                    <div class="bz-col mb12 tb6 mt3">
                        <div class="bz-popover top left">
                            <button class="bz-btn trigger">
                                Top left
                            </button>
                            <div class="popover">
                                <ul class="bz-list-no-style bz-fc-primary">
                                    <li>
                                        <a href="#">
                                            <span>Popover item</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Popover item</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Popover item</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="bz-col mb12 tb6 mt3">
                        <div class="bz-popover top right">
                            <button class="bz-btn trigger">
                                Top right
                            </button>
                            <div class="popover">
                                <ul class="bz-list-no-style bz-fc-primary">
                                    <li>
                                        <a href="#">
                                            <span>Popover item</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Popover item</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Popover item</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="bz-col mb12 tb6 mt3">
                        <div class="bz-popover bottom left">
                            <button class="bz-btn trigger">
                                Bottom left
                            </button>
                            <div class="popover">
                                <ul class="bz-list-no-style bz-fc-primary">
                                    <li>
                                        <a href="#">
                                            <span>Popover item long</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Popover item</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Popover item</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="bz-col mb12 tb6 mt3">
                        <div class="bz-popover bottom right">
                            <button class="bz-btn trigger">
                                Bottom right
                            </button>
                            <div class="popover">
                                <ul class="bz-list-no-style bz-fc-primary">
                                    <li>
                                        <a href="#">
                                            <span>Popover item long</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Popover item</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Popover item</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{#section 'scripts'}}
    <script>
        (function() {
            var pops = bzDom('.bz-popover');
            pops.each(function(i, item) {
                bzDom(item).popover({
                    //on: 'mouseenter'
                });
            });
        })();
    </script>
{{/section}}

