<div class="bz-page-box bz-animate-left">
    <div class="bz-toolbar-box">

    </div>
    <div class="bz-title-box">
        <h1>{{title}}</h1>
    </div>
    <div class="bz-content-box">
        <div class="bz-box bz-block">
            <div class="bz-padding-8">
                <div class="bz-padding-8">
                    <p>
                        Star rating works along with bz-fonts only and icon named <span class="bz-fc-positive bz-t-bold">.bzi-star-in-square</span>
                        <i class="bzi-star-in-square bz-fc-primary"></i>
                    </p>
                    <p>
                        And Blues.JS library rating bz-rating-2.0.0.js with a next code
                    </p>
                    <textarea class="bz-code js">
                new Rating({
                    element: '#starrating',
                    showvalue: true
                });
            </textarea>
                    <p>
                        If you don't need to show rating value before the bars or stars, just remove parameter <span class="bz-fc-primary bz-t-bold">showvalue</span> or
                        set it to the <span class="bz-fc-primary bz-t-bold">false</span>.
                    </p>

                    <textarea class="bz-code html">
                <div class="bz-rating star-rating"
                     data-value="4.8" data-action="/request/rating">
                    <input type="radio">
                    <input type="radio">
                    <input type="radio">
                    <input type="radio">
                    <input type="radio">
                </div>
            </textarea>

                </div>
            </div>
            <div class="bz-padding-8">
                <div class="bz-padding-8">
                    <div class="bz-rating star-rating primary" data-value="0.86" data-action="/request/rating">
                        <input type="radio">
                        <input type="radio">
                        <input type="radio">
                        <input type="radio">
                        <input type="radio">
                    </div>
                </div>
                <div class="bz-padding-8">
                    <div class="bz-rating star-rating primary" data-value="1.46" data-action="/request/rating">
                        <input type="radio">
                        <input type="radio">
                        <input type="radio">
                        <input type="radio">
                        <input type="radio">
                    </div>
                </div>
                <div class="bz-padding-8">
                    <div class="bz-rating star-rating primary" data-value="2.57" data-action="/request/rating">
                        <input type="radio">
                        <input type="radio">
                        <input type="radio">
                        <input type="radio">
                        <input type="radio">
                    </div>
                </div>
                <p class="bz-padding-8">
                    By default rating works like a widget, to make it clickable add parameter <span class="bz-fc-primary bz-t-bold">rate: true</span>.
                </p>
                <div class="bz-padding-8">
                    <div id="starrating" class="bz-rating primary" data-value="3.81" data-action="/request/rating">
                        <input type="radio">
                        <input type="radio">
                        <input type="radio">
                        <input type="radio">
                        <input type="radio">
                    </div>
                </div>
                <p class="bz-padding-8">
                    For a line rating add parameter <span class="bz-fc-primary bz-t-bold">type: 'line'</span>. The line rating works with no
                    <span class="bz-fc-primary bz-t-bold">bz-fonts</span> linked to the page.
                </p>
                <div class="bz-padding-8">
                    <div id="linerating" class="bz-rating primary" data-value="4.28" data-action="/request/rating">
                        <input type="radio">
                        <input type="radio">
                        <input type="radio">
                        <input type="radio">
                        <input type="radio">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{#section 'scripts'}}
    <script src="../javascripts/bz-rating-2.0.0.js"></script>
    <script>
        var rates = bzDom('.star-rating');
        rates.each(function(i, item) {
            new Rating({
                element: item,
                showvalue: true
            });
        });

        new Rating({
            element: '#starrating',
            showvalue: true,
            rate: true
        });

        new Rating({
            element: '#linerating',
            type: 'line',
            showvalue: true,
            rate: true
        });
    </script>
{{/section}}