<div class="bz-page-box bz-animate-left">
    <div class="bz-toolbar-box">

    </div>
    <div class="bz-title-box">
        <h1>{{title}}</h1>
    </div>
    <div class="bz-content-box">
        <div class="bz-block">
            <div class="bz-padding-16">
                <div class="bz-clear h-128"></div>
                <h6>Short tooltip</h6>
                <div class="bz-row">
                    <div class="bz-col mb3 bz-t-align-c">
                        <div class="bz-tooltip top">
                            <button class="bz-btn">
                                Tooltip
                            </button>
                            <div class="popover">You got me!</div>
                        </div>
                    </div>

                    <div class="bz-col mb3 bz-t-align-c">
                        <div class="bz-tooltip left">
                            <button class="bz-btn">
                                Left
                            </button>
                            <div class="popover">You got me!</div>
                        </div>
                    </div>

                    <div class="bz-col mb3 bz-t-align-c">
                        <div class="bz-tooltip right">
                            <button class="bz-btn">
                                Right
                            </button>
                            <div class="popover">You got me!</div>
                        </div>
                    </div>

                    <div class="bz-col mb3 bz-t-align-c">
                        <div class="bz-tooltip bottom">
                            <button class="bz-btn">
                                Bottom
                            </button>
                            <div class="popover">You got me!</div>
                        </div>
                    </div>
                </div>
                <div class="bz-clear h-64"></div>
                <h6>Long tooltip message</h6>
                <div class="bz-row">
                    <div class="bz-col mb3 bz-t-align-c">
                        <div class="bz-tooltip top">
                            <button class="bz-btn">
                                Tooltip
                            </button>
                            <div class="popover">You got me! This is a very very long tooltip message.</div>
                        </div>
                    </div>

                    <div class="bz-col mb3 bz-t-align-c">
                        <div class="bz-tooltip left">
                            <button class="bz-btn">
                                Left
                            </button>
                            <div class="popover">You got me! This is a very very long tooltip message.</div>
                        </div>
                    </div>

                    <div class="bz-col mb3 bz-t-align-c">
                        <div class="bz-tooltip right">
                            <button class="bz-btn">
                                Right
                            </button>
                            <div class="popover">You got me! This is a very very long tooltip message.</div>
                        </div>
                    </div>

                    <div class="bz-col mb3 bz-t-align-c">
                        <div class="bz-tooltip bottom">
                            <button class="bz-btn">
                                Bottom
                            </button>
                            <div class="popover">You got me! This is a very very long tooltip message.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>