<div class="bz-page-box bz-animate-left">
    <div class="bz-toolbar-box">

    </div>
    <div class="bz-title-box">
        <h1>{{title}}</h1>
    </div>
    <div class="bz-content-box">
        <div class="bz-block">
            <div class="bz-padding-8">
                <div class="bz-padding-8">
                    <h5>Headings</h5>
                    <div class="bz-row mb-middle">
                        <div class="bz-col mb4 bz-padding-8">
                            tag <span class="bz-fc-positive bz-t-bold">h1</span> or class <span class="bz-fc-positive bz-t-bold">.bz-t-h1</span>
                        </div>
                        <div class="bz-col mb8">
                            <h1>Headline</h1>
                        </div>
                    </div>
                    <div class="bz-row  mb-middle">
                        <div class="bz-col mb4 bz-padding-8">
                            tag <span class="bz-fc-positive bz-t-bold">h2</span> or class <span class="bz-fc-positive bz-t-bold">.bz-t-h2</span>
                        </div>
                        <div class="bz-col mb8">
                            <h2>Title</h2>
                        </div>
                    </div>
                    <div class="bz-row  mb-middle">
                        <div class="bz-col mb4 bz-padding-8">
                            tag <span class="bz-fc-positive bz-t-bold">h3</span> or class <span class="bz-fc-positive bz-t-bold">.bz-t-h3</span>
                        </div>
                        <div class="bz-col mb8">
                            <h3>Subtitle</h3>
                        </div>
                    </div>
                    <div class="bz-row  mb-middle">
                        <div class="bz-col mb4 bz-padding-8">
                            tag <span class="bz-fc-positive bz-t-bold">h4</span> or class <span class="bz-fc-positive bz-t-bold">.bz-t-h4</span>
                        </div>
                        <div class="bz-col mb8">
                            <h4>Caption</h4>
                        </div>
                    </div>
                    <div class="bz-row  mb-middle">
                        <div class="bz-col mb4 bz-padding-8">
                            tag <span class="bz-fc-positive bz-t-bold">h5</span> or class <span class="bz-fc-positive bz-t-bold">.bz-t-h5</span>
                        </div>
                        <div class="bz-col mb8">
                            <h5>H5</h5>
                        </div>
                    </div>
                    <div class="bz-row  mb-middle">
                        <div class="bz-col mb4 bz-padding-8">
                            tag <span class="bz-fc-positive bz-t-bold">h6</span> or class <span class="bz-fc-positive bz-t-bold">.bz-t-h6</span>
                        </div>
                        <div class="bz-col mb8">
                            <h6>H6</h6>
                        </div>
                    </div>
                    <div class="bz-row  mb-middle">
                        <div class="bz-col mb4 bz-padding-8">
                            class <span class="bz-fc-positive bz-t-bold">.bz-t-subtitle</span>
                        </div>
                        <div class="bz-col mb8">
                            <div class="bz-t-subtitle">Subtitle</div>
                        </div>
                    </div>
                    <div class="bz-row  mb-middle">
                        <div class="bz-col mb4 bz-padding-8">
                            class <span class="bz-fc-positive bz-t-bold">.bz-t-medium</span>
                        </div>
                        <div class="bz-col mb8">
                            <div class="bz-t-medium">Medium text</div>
                        </div>
                    </div>
                    <div class="bz-row  mb-middle">
                        <div class="bz-col mb4 bz-padding-8">
                            class <span class="bz-fc-positive bz-t-bold">.bz-t-regular</span>
                        </div>
                        <div class="bz-col mb8">
                            <div class="bz-t-regular">Regular text</div>
                        </div>
                    </div>
                    <div class="bz-row  mb-middle">
                        <div class="bz-col mb4 bz-padding-8">
                            class <span class="bz-fc-positive bz-t-bold">.bz-t-caption</span>
                        </div>
                        <div class="bz-col mb8">
                            <div class="bz-t-caption">Caption text</div>
                        </div>
                    </div>
                </div>
                <div class="bz-padding-8">
                    <h5>Font Weight</h5>
                    <div class="bz-row  mb-middle">
                        <div class="bz-col mb4 bz-padding-8">
                            class <span class="bz-fc-positive bz-t-bold">.bz-t-lighter</span>
                        </div>
                        <div class="bz-col mb8">
                            <span class="bz-t-lighter">Lighter text</span>
                        </div>
                    </div>
                    <div class="bz-row  mb-middle">
                        <div class="bz-col mb4 bz-padding-8">
                            class <span class="bz-fc-positive bz-t-bold">.bz-t-regular</span>
                        </div>
                        <div class="bz-col mb8">
                            <span class="bz-t-regular">Regular</span>
                        </div>
                    </div>
                    <div class="bz-row  mb-middle">
                        <div class="bz-col mb4 bz-padding-8">
                            class <span class="bz-fc-positive bz-t-bold">.bz-t-bold</span>
                        </div>
                        <div class="bz-col mb8">
                            <span class="bz-t-bold">Bold text</span>
                        </div>
                    </div>
                    <div class="bz-row  mb-middle">
                        <div class="bz-col mb4 bz-padding-8">
                            class <span class="bz-fc-positive bz-t-bold">.bz-t-bolder</span>
                        </div>
                        <div class="bz-col mb8">
                            <span class="bz-t-bolder">Bolder text</span>
                        </div>
                    </div>
                </div>
                <div class="bz-padding-8">
                    <h5>Helpers</h5>
                    <div class="bz-row  mb-middle">
                        <div class="bz-col mb4 bz-padding-8">
                            class <span class="bz-fc-positive bz-t-bold">.bz-t-capitalize</span>
                        </div>
                        <div class="bz-col mb8">
                            <div class="bz-t-capitalize">capitalize</div>
                        </div>
                    </div>
                    <div class="bz-row  mb-middle">
                        <div class="bz-col mb4 bz-padding-8">
                            class <span class="bz-fc-positive bz-t-bold">.bz-t-uppercase</span>
                        </div>
                        <div class="bz-col mb8">
                            <div class="bz-t-uppercase">uppercase</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>