<div class="bz-page-box bz-animate-left">
    <div class="bz-title-box">
        <h1>Oops! Something went wrong...</h1>
    </div>
    <div class="bz-content-box">
        <div class="bz-box bz-block">
            <h1>{{message}}</h1>
            <h2>{{error.status}}</h2>
            <pre>{{error.stack}}</pre>
        </div>
    </div>
</div>