<div class="bz-page-box bz-animate-left">
    <div class="bz-toolbar-box">

    </div>
    <div class="bz-title-box">
        <h1>{{title}}</h1>
    </div>
    <div class="bz-content-box">
        <div class="bz-block">
            <div class="bz-t-align-j">

                <h5>CSS and JS frameworks</h5>
                <h6 class="bz-fc-positive">Purpose</h6>
                <p>
                    Blues built with pure css and javascript libraries from the scratch. It is cross browser and helps to build
                    rich web interfaces for any websites.
                </p>
                <h6 class="bz-fc-positive">Requirements</h6>
                <p>
                    Pure CSS and Javascript written. No dependencies
                </p>
                <h6 class="bz-fc-positive">Size</h6>
                <p>
                    Blues lightweight
                <ul class="bz-list-no-style dashed bz-padding-8">
                <li>CSS (approx. 169* kb - not minimized/ 107* kb - minified/ 16* kb compressed)</li>
                    <li>JS (approx. 280* kb - not minimized)</li>
                </ul>
                * - can change at any time.
                </p>
                <h6 class="bz-fc-positive">Repositories</h6>
                <p>Feel free to use Blues</p>
                <ul class="bz-list-no-style">
                    <li>
                        <a class="bz-link primary" href="https://www.jsdelivr.com/package/gh/teobyte/blues" target="_blank">
                            <span class="text">CDN on JSDeliver</span>
                        </a>
                    </li>
                    <li>
                        <a class="bz-link primary" href="https://github.com/teobyte/blues" target="_blank">
                            <span class="text">Get it on Github</span>
                        </a>
                    </li>
                </ul>
                <h6 class="bz-fc-positive">Education</h6>
                <p>Code of Blues framework written with the pure css and javascript, it is very simple and primitive, so you can easily use it for any educational reasons.</p>
            </div>
        </div>
    </div>
</div>
{{#section 'scripts'}}
<script>
    (function() {
        // if(bz.check.ifTouchScreen()) {
        //     alert('it IS touch ');
        // } else {
        //     alert('it IS NOT touch ');
        // }
    })();
</script>
{{/section}}