/* Blues Animation */
//.bz-animate-opacity
//  animation fade-in 1s

//for s in sides
//  .bz-animate-{s}
//    position relative
//    animation animate-{s} 0.5s

//.bz-animate-zoom
//  animation animate-zoom 0.5s

/*---- Wave/Ripple effect ----------------------------------*/
.bz-wave
  position relative
  .wave
    position absolute
    width 100%
    height 100%
    left 0
    right 0
    top 0
    bottom 0
    overflow hidden
    cursor pointer
    z-index 100
  .ink
    display block
    position absolute
    border-radius 100%
    transform scale(0)
    cursor pointer
    background #fff

for t in themes
  .bz-wave.{t}-wave .ink
    background: themes[t].fill

.bz-wave .ink.animate
  animation wave 0.25s linear

@keyframes wave {
  100% {
    opacity 0
    transform scale(2.5)
  }
}
@keyframes click-wave {
  from {
    height 0
    width 0
    opacity 0.35
  }
  to {
    height 80px
    width 80px
    opacity 0
  }
}
@keyframes animate-top {
  from {
    top -500px
    opacity 0
  }
  to {
    top 0
    opacity 1
  }
}
@keyframes animate-left {
  from {
    left -500px
    opacity 0
  }
  to {
    left 0
    opacity 1
  }
}
@keyframes animate-right
  from
    right -500px
    opacity 0
  to
    right 0
    opacity 1

@keyframes animate-bottom
  from
    bottom -500px
    opacity 0
  to
    bottom 0
    opacity 1

@keyframes animate-appear
  from
    transform scale(0)
  to
    transform scale(1)

@keyframes animate-zoom
  from
    transform scale(1)
  to
    transform scale(1.4)

@keyframes fade-in
  from
    opacity 0
  to
    opacity 1

@keyframes fade-out
  from
    opacity 1
  to
    opacity 0

@keyframes input-flash
  from
    background color-navy
  to
    width 0
    background transparent
    opacity 0.5

.bz-scale-out,
.bz-scale-in
  vendor(transition, all 300ms ease-in)

.bz-scale-out
  scale(0)

.bz-scale-in
  scale(1)

.bz-bounce
    position: fixed
    right: 5%
    bottom: 0
    height: 100px
    width: 100px
    -webkit-animation: bzbounce 2s infinite

angs = 90 180 -90 -180
for r in angs
  .bz-rotate{r}
    transform-rotate(r deg)