.bz-ac-box
  position: relative
  display: inline-block

.bz-ac
  border: none
  line-height: normal
  min-height: calc(2.3em + 4px)
  position relative
  padding 0
  margin 8px 0
  display flex
  flex-direction row
  flex-wrap wrap
  user-select none
  vertical-align middle
  width auto

.bz-ac input
  border none
  border-radius 0
  box-shadow none
  color: color-gray-darker
  height max-content
  float none
  line-height: normal
  outline none
  padding calc(.7em + 2px) .5em calc(.3em + 1px) .5em
  min-width: 70px!important
  vertical-align middle
  -webkit-flex 1
  -ms-flex 1
  flex 1
  max-width 100%
  min-height 32px
  width auto
  transition(all 0.3s ease-out)

.bz-ac .bz-input
  margin 0

.bz-ac-box button
  position: absolute
  top: 0
  right: 0

.bz-ac .bz-suggestions
  background: #fff
  list-style-type: none
  max-height: 250px
  height: auto
  overflow-x: hidden
  overflow-y: auto
  margin: 0
  padding: 0
  left: 0
  top: calc(100% + 2px)
  min-width: 325px
  width: 100%
  z-index: 799999
  border: 1px solid #dcdedf
  border-top: none
  @extend .bz-absolute
  @extend .bz-transition

.bz-ac .bz-suggestions.hide
  height: 0
  display: none

.bz-ac .bz-suggestions li
  @extend .bz-cursor-pointer

.bz-ac .bz-suggestions li.highlight,
.bz-ac .bz-suggestions li:hover
  background: #f6f7f8

.bz-ac .bz-chip
  margin-top: calc(.7em - 2px)