.bz-chip
  display inline-block
  box-sizing content-box
  height 50px
  line-height 46px
  border-radius 25px
  background-color color-gray-lighter
  position relative
  margin 2px
  *
    display inline-block
  .text
    font-size 20px
    padding 0
    margin 3px 0 3px 20px
  a
    text-decoration none
  a:hover
    color green
    text-decoration none

.bz-chip i ~ .text,
.bz-chip img ~ .text
  margin 2px 0 2px 5px

.bz-chip.small
  height 30px
  border-radius 15px
  line-height 24px

.bz-chip.small .text
  font-size 16px

.bz-chip .chip-close a
  box-sizing content-box

.bz-chip i,
.bz-chip img
  margin 3px
  float left
  height 44px
  width 44px
  border-radius 50%

.bz-chip i:before
  top 5px
  left 5px

.bz-chip.small i,
.bz-chip.small img
  margin 3px
  float left
  height 24px
  width 24px
  border-radius 50%

.bz-chip .chip-close
  margin 3px
  height 44px
  border-radius 50%
  display inline-block
  color color-navy
  float right
  font-size 20px
  cursor pointer
  text-align center
  width 44px

.bz-chip.small .chip-close
  height 24px
  width 24px

.bz-chip .chip-close:hover
  color color-white
  background-color gray