@media screen and (max-width: mobile)
  .bz-cross-padding
    padding 0
  .bz-cross-margin
    margin: 0
  .bz-modal .modal-content
    width 100vw

@media screen and (min-width: mobile) and (max-width: tablet)
  .bz-cross-padding
    padding 0.5em
  .bz-cross-margin
    margin 0.5em
  .bz-modal .modal-content
    width 90vw

@media screen and (min-width: tablet) and (max-width: monitor)
  .bz-cross-padding
    padding 0.5em
  .bz-cross-margin
    margin 0.5em
  .bz-modal .modal-content
    width 90vw

@media screen and (min-width: monitor) and (max-width: widescreen)
  .bz-cross-padding
    padding 1em
  .bz-cross-margin
    margin 1em
  .bz-modal .modal-content
    width 60vw

@media screen and (min-width: widescreen)
  .bz-cross-padding
    padding 2em
  .bz-cross-margin
    margin 2em
  .bz-modal .modal-content
    width 50vw