/* Blues Color Palette  */
/* Font Colors */
.bz-fc-primary,
.bz-fc-hover-primary:hover {
  color: color-navy;
}
.bz-fc-secondary,
.bz-fc-hover-secondary:hover {
  color: color-blue;
}
.bz-fc-positive,
.bz-fc-green,
.bz-fc-hover-positive:hover,
.bz-fc-hover-green:hover {
  color: color-green;
}
.bz-fc-negative,
.bz-fc-red,
.bz-fc-hover-negative:hover,
.bz-fc-hover-red:hover {
  color: color-red;
}
.bz-fc-info,
.bz-fc-hover-info:hover {
  color: color-gray-light;
}
.bz-fc-warning,
.bz-fc-orange,
.bz-fc-hover-warning:hover,
.bz-fc-hover-orange:hover {
  color: color-orange;
}
.bz-fc-lighter,
.bz-fc-hover-lighter:hover {
  color: color-gray-lighter;
}
.bz-fc-light,
.bz-fc-hover-light:hover {
  color: color-gray-light;
}
.bz-fc-faded,
.bz-fc-hover-faded:hover,
.bz-fc-hover-gray:hover {
  color: color-gray-dark;
}
.bz-fc-dark,
.bz-fc-hover-dark:hover {
  color: color-gray-darker;
}
.bz-fc-black,
.bz-fc-hover-black:hover {
  color: color-black;
}
.bz-fc-white,
.bz-fc-hover-white:hover {
  color: color-white;
}
.bz-fc-kv-red,
.bz-fc-hover-kv-red:hover {
  color: color-red;
}
/* Background Colors */
.bz-bc-primary,
.bz-bc-hover-primary:hover {
  background: color-navy;
}
.bz-bc-secondary,
.bz-bc-hover-secondary:hover {
  background: color-blue;
}
.bz-bc-positive,
.bz-bc-green,
.bz-bc-hover-positive:hover,
.bz-bc-hover-green:hover {
  background: color-green;
}
.bz-bc-negative,
.bz-bc-red,
.bz-bc-hover-negative:hover,
.bz-bc-hover-red:hover {
  background: color-red;
}
.bz-bc-info,
.bz-bc-hover-info:hover {
  background: color-gray-light;
}
.bz-bc-warning,
.bz-bc-orange,
.bz-bc-hover-warning:hover,
.bz-bc-hover-orange:hover {
  background: color-orange;
}
.bz-bc-lighter,
.bz-bc-hover-lighter:hover {
  background: color-gray-lighter;
}
.bz-bc-light,
.bz-bc-hover-light:hover {
  background: color-gray-light;
}
.bz-bc-faded,
.bz-bc-gray:hover,
.bz-bc-hover-faded:hover,
.bz-bc-hover-gray:hover {
  background: color-gray-dark;
}
.bz-bc-dark,
.bz-bc-hover-dark:hover {
  background: color-gray-darker;
}
.bz-bc-black,
.bz-bc-hover-black:hover {
  background: color-black;
}
.bz-bc-white,
.bz-bc-hover-white:hover {
  background: color-white;
}
.bz-bc-kv-red,
.bz-bc-hover-kv-red:hover {
  background: color-red;
}
