@import bz-vars
@import bz-colors
@import bz-mixins
@import bz-reset
@import bz-scrollbar
@import bz-animate
@import bz-transitions

:root
  --color-aqua color-aqua
  --color-black color-black
  --color-blue color-blue
  --color-gray-darker color-gray-darker
  --color-gray-dark color-gray-dark
  --color-gray color-gray
  --color-gray-light color-gray-light
  --color-gray-lighter color-gray-lighter
  --color-green color-green
  --color-navy color-navy
  --color-orange color-orange
  --color-pink color-pink
  --color-purple color-purple
  --color-red color-red
  --color-white color-white
  --color-yellow color-yellow

*,
*::after,
*::before,
html,
.bz-border-box
  vendor(box-sizing, border-box)

body
  clear: both
  color: color-gray-darker
  font: font-blues
  font-size: bz-font-size
  margin: 0!important
  padding: 0!important

@import bz-typo
@import bz-cursors
@import bz-links
@import bz-blocks

@import bz-flex  
@import bz-width

@import bz-pages
@import bz-shadows
@import bz-layers
@import bz-list
//@import bz-cascade-list
@import bz-inputs
@import bz-autocomplete
@import bz-buttons
@import bz-toolbar
@import bz-popover
@import bz-tooltip
@import bz-selectors
@import bz-spinners
@import bz-nav
@import bz-sidenav
@import bz-contextmenu
@import bz-tags
@import bz-breadcrumbs
@import bz-chips
@import bz-badge
@import bz-grouping
@import bz-modal
@import bz-toast
@import bz-page-alert
@import bz-accordion
@import bz-tabs
@import bz-ddl
@import bz-stepper

.bz-fader
  background-color: rgba(69, 69, 68, 0.5)
  bottom: 0
  height: 100%
  left: 0
  opacity: 0
  right: 0
  top: 0
  @extends .bz-cursor-pointer
  @extends .bz-none
  @extends .bz-fixed
  @extends .bz-w-100p

@import bz-cross

.bz-code-class,
.bz-code-attribute
  font-weight bold
.bz-code-class
  color #2a8ac7
.bz-code-attribute
  color #0f9d58