/* Blues Block Quotes */
.bz-quote,
blockquote {
  display: block;
  padding: 8px 16px;
  margin: 0;
  border-left: 4px solid var(--color-primary);
}
.bz-quote.primary {
  border-left: 5px solid var(--color-primary);
}
.bz-quote.secondary {
  border-left: 5px solid var(--color-secondary);
}
.bz-quote.positive {
  border-left: 5px solid var(--color-positive);
}
.bz-quote.warning {
  border-left: 5px solid var(--color-warning);
}
.bz-quote.negative {
  border-left: 5px solid var(--color-negative);
}
.bz-quote.light {
  border-left: 5px solid var(--color-light);
}
.bz-quote.dark {
  border-left: 5px solid var(--color-dark);
}
