/* Blues Input Message Box */
.bz-input div.error {
  bottom: -1.1em;
  font-size: 0.8em;
  position: absolute;
  z-index: 10;
}
.bz-input div.error,
.bz-input i.right ~ div.error,
.bz-input i.bz-tool ~ div.error {
  left: 0;
}
.bz-input i:not(.bz-tool):not(.right) ~ div.error,
.bz-input i.bz-tool.left ~ div.error,
.bz-input i + i.bz-tool ~ div.error {
  left: 52px;
}
.bz-input .counter {
  position: absolute;
  font-size: 0.8em;
  bottom: -14px;
  right: 0;
}
