.bz-input
  @extend .bz-clearfix
  background color-white
  border 2px solid transparent
  display inline-block
  font-size: 1.3em
  line-height: normal
  height: calc(2.3em + 4px)
  position relative
  padding 0
  margin 8px 0
  text-decoration none
  user-select none
  vertical-align middle
  -webkit-tap-highlight-color transparent
  -webkit-user-drag none
  &.transparent
    background transparent
  &.transparent i
    color white
  input
    color color-gray-darker
    background color-white
    height:  calc(2.3em + 2px)
    width 100%

.bz-input:before
  content: ""
  display: inline-block
  vertical-align: middle
  height: 100%

.bz-input.bz-textarea:before
  height: auto

.bz-input i,
.bz-input select,
.bz-input input:not([type])
  background inherit
  vertical-align: middle
  display: inline-block
  float: left

for inpt in textinputs
  .bz-input
    input[type={inpt}]
      @extends .bz-input input:not([type])

.bz-input select,
.bz-input textarea,
.bz-input input:not([type])
  border none
  border-bottom 2px solid color-gray-light
  border-radius 0
  box-shadow none
  outline none
  font-size: 1em
  line-height: normal
  transition(all 0.3s ease-out)
  vertical-align middle

.bz-input
  &.size-xs
    font-size: 0.9em
  &.size-s
    font-size: 1.1em
  &.size-l
    font-size: 1.5em
  &.size-xl
    font-size: 1.7em

.bz-input select,
.bz-input textarea
  width: 100%

.bz-input.bz-textarea
  height: auto

for inpt in textinputs
  .bz-input
    input[type={inpt}]
      @extends .bz-input input:not([type])

.bz-input.transparent select,
.bz-input.transparent textarea,
.bz-input.transparent input:not([type])
  background transparent
  border-bottom 2px solid color-white
  color color-white

for inpt in textinputs
  .bz-input.transparent
    input[type={inpt}]
      @extends .bz-input.transparent input:not([type])

.bz-input.transparent label
  color color-white

.bz-input input[type=email]
  padding calc(.7em + 2px) .5em calc(.3em + 1px) .5em

for inpt in skipemail
  .bz-input
    input[type={inpt}]
      @extends .bz-input input[type=email]

.bz-input i
  border none
  font-size 1.5em
  overflow hidden
  text-align center
  line-height: 1.5em
  width: 1.5em
  + input
    width: calc(100% - 2.3em)
  &.right
    float right
  &.bz-tool
    cursor pointer
    float right
    &.left
      float left

.bz-input i + i ~ input
  width calc(100% - 4.6em)

@import bz-inputs-label

placeholder-color(".bz-input input:not(.placeholder)", transparent)

placeholder-color("bz-input textarea:not(.placeholder)", transparent)

@import bz-inputs-effects

.bz-input input:not([type])[disabled],
.bz-input input[type=email][disabled],
.bz-input input[type=password][disabled],
.bz-input input[type=text][disabled],
.bz-input input[type=url][disabled],
.bz-input input[type=tel][disabled],
.bz-input input[type=number][disabled],
.bz-input input[type=search][disabled],
.bz-input select[disabled],
.bz-input textarea[disabled]
  cursor not-allowed
  color #848482
  border-bottom 2px dotted #848482

.bz-input input:not([type])[readonly],
.bz-input input[type=email][readonly],
.bz-input input[type=password][readonly],
.bz-input input[type=text][readonly],
.bz-input input[type=url][readonly],
.bz-input input[type=tel][readonly],
.bz-input input[type=number][readonly],
.bz-input input[type=search][readonly],
.bz-input select[readonly],
.bz-input textarea[readonly]
  background-color #eee
  color #777
  border-color #ccc

@import bz-inputs-themes

@import bz-inputs-errors

@import bz-editable






