.bz-input
  label
    color color-gray
    font-size 1em
    font-weight normal
    position absolute
    pointer-events none
    top 0.62em
    vendor(transition, 0.2s ease all)

.bz-input input ~ label
  left 0.5em

.bz-input i:not(.bz-tool) + input ~ label,
.bz-input i + i.bz-tool + input ~ label
  left 3em

.bz-input i.bz-tool + input ~ label
  left 0.5em

.bz-input i.bz-tool.left + input ~ label
  left 3em

.bz-input i.right + input ~ label
  left 0.5em

.bz-input i.right ~ i.bz-tool
  float left

.bz-input i.right + input[readonly] ~ label,
.bz-input i.right + input[disabled] ~ label,
.bz-input input[readonly] ~ label,
.bz-input input[disabled] ~ label
  left 0

.bz-input input:focus ~ label,
.bz-input input:valid ~ label,
.bz-input input[readonly] ~ label,
.bz-input input[disabled] ~ label,
.bz-input input.highlight ~ label,
.bz-input textarea:focus ~ label,
.bz-input textarea:valid ~ label,
.bz-input textarea.highlight ~ label
  top: -0.1em
  font-size 0.6em
  color color-navy

.bz-input textarea:focus ~ label,
.bz-input textarea:valid ~ label,
.bz-input textarea.highlight ~ label
  top: -1em

.bz-input input:focus ~ label,
.bz-input input:valid ~ label,
.bz-input input[readonly] ~ label,
.bz-input input[disabled] ~ label,
.bz-input input.highlight ~ label,
.bz-input textarea:focus ~ label,
.bz-input textarea:valid ~ label,
.bz-input textarea:invalid ~ label,
.bz-input i.right + input:focus ~ label,
.bz-input i.right + input:valid ~ label,
.bz-input i.right + input.highlight ~ label,
.bz-input i.bz-tool + input:focus ~ label,
.bz-input i.bz-tool + input:valid ~ label,
.bz-input i.bz-tool + input.highlight ~ label
  left 0

.bz-input i + input:focus ~ label,
.bz-input i + input:valid ~ label,
.bz-input i + input.highlight ~ label,
.bz-input i + i.bz-tool + input:focus ~ label,
.bz-input i + i.bz-tool + input:valid ~ label,
.bz-input i + i.bz-tool + input.highlight ~ label,
.bz-input i.bz-tool.left + input:focus ~ label,
.bz-input i.bz-tool.left + input:valid ~ label
  left: 3.8em

.bz-input i.bz-tool.left + input.highlight ~ label,
.bz-input i:not('.right') + input[readonly] ~ label,
.bz-input i:not('.right') + input[disabled] ~ label,
.bz-input i + input[readonly] ~ label,
.bz-input i + input[disabled] ~ label
  left 3em