/* Blues Layers */
.bz-layer-0,
.bz-layer-1,
.bz-layer-2,
.bz-layer-3,
.bz-layer-4 {
  position: absolute;
  height: inherit;
  width: 100%;
}
.bz-layer-0 {
  z-index: -1;
}
.bz-layer-1 {
  z-index: 99;
}
.bz-layer-2 {
  z-index: 199;
}
.bz-layer-3 {
  z-index: 299;
}
.bz-layer-4 {
  z-index: 399;
}
