.bz-list-no-style {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.dashed li {
  margin-left: 20px;
}
ul.dashed li:before {
  content: '\2014';
  position: absolute;
  margin-left: -20px;
}
li.divider {
  border: 1px solid color-gray-lighter;
  clear: both;
}
.bz-list-inline {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}
.bz-list-inline li {
  float: left;
  padding: 0 3px;
}
.bz-list-hover-ease li {
  cursor: pointer;
  overflow: hidden;
}
.bz-list-hover-ease li .text {
  padding: 8px;
  position: relative;
}
@include transition(all 0.5s ease);
.bz-list-hover-ease li .text i {
  font-size: 28px;
  line-height: inherit;
  vertical-align: middle;
  margin-right: 8px;
}
.bz-list-hover-ease li:not(.bz-nohover):not(.subheader):not(.divider):hover {
  background: color-gray-lighter;
}
.bz-list-hover-ease li:hover .text {
  padding-left: 12px;
}
.bz-list-hover-ease a {
  color: color-gray-dark;
  text-decoration: none;
}
.bz-list-hover-ease a:hover {
  color: color-navy;
  text-decoration: none;
}
.bz-list-striped li:nth-child(2n-1),
.bz-table-striped tr:nth-child(2n-1) td {
  background-color: color-gray-light;
}
