a
  @extend .bz-transition.fast
  background-color transparent
  color color-navy
  text-decoration none
  -webkit-text-decoration-skip objects
  &:hover
    text-decoration underline
  body.firefox &
    font-weight normal

.bz-link
  cursor: pointer
  position: relative
  text-decoration: none
  &:hover
    text-decoration: none
  .text:after
    bottom: 0
    content: ""
    height: 1px
    left: 50%
    position: absolute
    width: 0
    vendor(transition, all .3s ease-in)
    transform-translate(-50%, 0)

for t in themes
  .bz-link.{t},
  .bz-link.{t}:hover,
  .bz-link.{t}:active,
  .bz-link.{t}:focus
    color: themes[t].fill

for t in themes
  .bz-link.{t}
    .text:after
      background: themes[t].fill

.bz-link:hover .text:after,
.bz-link:focus .text:after
  width: 100%

.bz-styless-link,
.bz-styless-link:hover
  text-decoration: none

for s in 0..5
  .bz-spacing-{s}
    letter-spacing: s px
