.bz-modal
  border-radius 0!important
  display none
  opacity: 0
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  max-width 100vw
  max-height 100vh
  z-index 999999

.bz-modal .content-wrapper
  height: inherit
  position: relative
  width: 100%

.bz-modal .modal-content
  background: color-white
  box-sizing: border-box
  overflow: hidden
  overflow-y: auto
  position: absolute
  padding: 0
  vendor(transition, all .2s ease-in-out)
  animation: animate-appear
  min-height: 200px
  min-width: 320px
  max-height: 80vh

.bz-modal .content-wrapper .close-bar
    height: 38px
    width: 100%

.bz-modal .remove
  cursor pointer
  float right
  padding 0 8px

.bz-modal .content
  position relative
  padding: 8px
  width 100%

.bz-modal.center .modal-content
  top: 50%
  left: 50%
  transform-translate(-50%, -50%)

.bz-modal.top .modal-content,
.bz-modal.bottom .modal-content
  left: 50%;
  transform-translate(-50%, 0)

.bz-modal.right .modal-content,
.bz-modal.left .modal-content
  top 50%
  transform-translate(0, -50%)

.bz-modal.top .modal-content
  top 0
  animation animate-top 0.5s

.bz-modal.right .modal-content
  right 0
  animation animate-right 0.5s

.bz-modal.bottom .modal-content
  bottom 0
  animation animate-bottom 0.5s

.bz-modal.left .modal-content
  left 0
  animation animate-left 0.5s

.bz-modal.top .modal-content,
.bz-modal.right .modal-content,
.bz-modal.bottom .modal-content,
.bz-modal.left .modal-content,
.bz-modal.minimized .modal-content
  height: 200px
  width: 320px
  overflow: hidden

.bz-modal.minimized .content
  height: calc(100% - 52px)

.bz-modal .fader
  background rgba(0,0,0,.4);
  cursor pointer
  position absolute
  max-width 100vw
  max-height 100vh
  top 0
  right 0
  bottom 0
  left 0
  z-index 0

.bz-modal .actions
  bottom: -52px
  position: absolute
  width: calc(100% - 16px)
