/*---- BLUES Popover ------------------------*/
.bz-popover
  @extend .bz-relative
  @extend .bz-inline-block

.bz-popover .popover
  @extend .bz-shadow-2
  @extend .bz-none
  @extend .bz-absolute
  background-color color-white
  font-size 16px
  padding 0
  text-align left
  min-width 124px
  max-width 164px
  z-index 9999

.bz-popover .trigger.bz-on ~ .popover
  display: block

.bz-popover .popover ul
  width 100%

.bz-popover .popover li
  cursor pointer
  padding 0 4px
  width 100%
  white-space nowrap

.bz-popover .popover li:hover
  background color-gray-light

.bz-popover .popover span
  color inherit
  display block
  height 100%
  padding 8px
  width 100%

.bz-popover .popover a
  color: inherit
  display block
  height 100%
  text-decoration none
  padding 8px
  width 100%

.bz-popover .popover
  max-height 300px
  overflow hidden
  overflow-y auto

.bz-popover.top .popover
  bottom 100%
  left: 50%
  transform-translate(-50%, 0%)

.bz-popover.bottom .popover
  top 100%
  left: 50%
  transform-translate(-50%, 0%)

.bz-popover.right .popover
  right 0
  top: 50%
  transform-translate(100%, -50%)

.bz-popover.left .popover
  left 0
  left: auto
  top: 50%
  transform-translate(-100%, -50%)

.bz-popover.top.left .popover
  bottom 100%
  left 0
  top: auto
  transform: none

.bz-popover.top.right .popover
  bottom 100%
  top: auto
  left: auto
  right: 0
  transform: none

.bz-popover.bottom.left .popover
  left 0
  top: 100%
  transform: none

.bz-popover.bottom.right .popover
  right 0
  left: auto
  top: 100%
  transform: none

.bz-popover.top .popover
  -webkit-animation fade-in .3s ease-in-out, shift-up .3s ease-in-out
  -moz-animation fade-in .3s ease-in-out, shift-up .3s ease-in-out

.bz-popover.bottom .popover
  -webkit-animation fade-in .3s ease-in-out, shift-down .3s ease-in-out
  -moz-animation fade-in .3s ease-in-out, shift-down .3s ease-in-out

.bz-popover.left .popover
  -webkit-animation fade-in .3s ease-in-out, shift-left .3s ease-in-out
  -moz-animation fade-in .3s ease-in-out, shift-left .3s ease-in-out

.bz-popover.right .popover
  -webkit-animation fade-in .3s ease-in-out, shift-right .3s ease-in-out
  -moz-animation fade-in .3s ease-in-out, shift-right .3s ease-in-out