.bz-slider
  position relative
  overflow hidden
  margin 20px auto
  visibility hidden


.bz-slider ul
  position relative
  margin 0
  padding 0
  list-style none

.bz-slider ul li
  position relative
  display block
  float left
  margin 0

.bz-slider .control-prev,
.bz-slider .control-next
  position absolute
  top 50%
  z-index 999
  display block
  width auto
  height auto
  text-decoration none
  font-weight 600
  font-size 18px
  opacity 0.4
  cursor pointer
  transform translate(0, -50%)

  &.default-back
    background #2a2a2a
    color #fff
    padding 2% 1%

.bz-slider .slider-thumbs
  position absolute
  bottom 0
  min-height 20px
  left 50%
  min-width 100px
  width auto
  transform translate(-50%, -50%)

.bz-slider .slider-thumbs .slider-thumb
  border 3px solid
  border-radius 50%
  cursor pointer
  display inline-block
  margin 2px
  height 14px
  width 14px

.bz-slider
  .slider-thumbs
    .slider-thumb.active
      background #0b800f

.bz-slider .control-prev:hover,
.bz-slider .control-next:hover
  opacity 0.7
  -webkit-transition all 0.2s ease

.bz-slider
  .control-prev
    border-radius 0 2px 2px 0

.bz-slider
  .control-next
    right 0
    border-radius 2px 0 0 2px

.slider_option
  position relative
  margin 8px auto
  width 300px
  font-size 18px

.bz-slider-pause-btn::after
  content 'Play'
  cursor pointer

.bz-slider-pause-btn.active::after,
.bz-slider-pause-btn[checked=checked]::after
  content 'Pause'
  color red


