.bz-spinner
  display: inline-block
  width: 50px
  height: 50px
  border: 3px solid color-gray
  border-top-color: color-gray-dark
  border-radius: 50%
  vendor(animation, bz-circle 1.8s cubic-bezier(.05, 0, .13, .9) infinite)
  &.small
    height 20px
    width 20px

  &.large
    height 70px
    width 70px

  &.thick
    border-width 6px

for t in themes
  .bz-spinner.{t}
    border-top-color: themes[t].fill

@keyframes bz-circle
  from
    transform rotate(0deg)
  to
    transform rotate(360deg)

.bz-spin-circle
  display: inline-block
  position: relative
  width: 64px
  height: 64px

.bz-spin-circle div
  border-color: #102a62 transparent transparent transparent
  box-sizing: border-box
  position: absolute
  width: 100%
  height: 100%
  border: 3px solid #102a62
  border-radius: 50%
  -webkit-animation: bz-circle 1.8s cubic-bezier(0.05, 0, 0.13, 0.9) infinite
  -moz-animation: bz-circle 1.8s cubic-bezier(0.05, 0, 0.13, 0.9) infinite
  -ms-animation: bz-circle 1.8s cubic-bezier(0.05, 0, 0.13, 0.9) infinite
  animation: bz-circle 1.8s cubic-bezier(0.05, 0, 0.13, 0.9) infinite

.bz-spin-circle div:nth-child(1)
  animation-delay: -0.45s

.bz-spin-circle div:nth-child(2)
  animation-delay: -0.3s

.bz-spin-circle div:nth-child(3)
  animation-delay: -0.15s

.bz-spin-dots
  display: inline-block
  position: relative
  width: 64px
  height: 64px

.bz-spin-dots div
  position: absolute
  top: calc(50% - 6px)
  width: 20%
  height: 20%
  border-radius: 50%
  background: #102a62
  animation-timing-function: cubic-bezier(0, 1, 1, 0)

.bz-spin-dots div:nth-child(1)
  left: 10%
  animation: bz-dots1 0.6s infinite

.bz-spin-dots div:nth-child(2)
  left: 10%
  animation: bz-dots2 0.6s infinite

.bz-spin-dots div:nth-child(3)
  left: 40%
  animation: bz-dots2 0.6s infinite

.bz-spin-dots div:nth-child(4)
  left: 80%
  animation: bz-dots3 0.6s infinite

.bz-loader
  display: inline-block
  position: relative
  width: 20px
  height: 12px

.bz-loader div
  border: none
  position: absolute
  width: 16px
  height: 16px
  left: 0
  top: -4px
  -webkit-animation: spin1 2s infinite linear
  -moz-animation: spin1 2s infinite linear
  -ms-animation: spin1 2s infinite linear
  animation: spin1 2s infinite linear

.bz-rotate
  -webkit-animation: spin1 2s infinite linear
  -moz-animation: spin1 2s infinite linear
  -ms-animation: spin1 2s infinite linear
  animation: spin1 2s infinite linear

@-moz-keyframes bz-dots1
  from
    transform: scale(0)
  to
    transform: scale(1)


@-webkit-keyframes bz-dots1
  from
    transform: scale(0)
  to
    transform: scale(1)

@-o-keyframes bz-dots1
  from
    transform: scale(0)
  to
    transform: scale(1)

@keyframes bz-dots1
  from
    transform: scale(0)
  to
    transform: scale(1)

@-moz-keyframes bz-dots3
  from
    transform: scale(1)
  to
    transform: scale(0)

@-webkit-keyframes bz-dots3
  from
    transform: scale(1)
  to
    transform: scale(0)

@-o-keyframes bz-dots3
  from
    transform: scale(1)
  to
    transform: scale(0)

@keyframes bz-dots3
  from
    transform: scale(1)
  to
    transform: scale(0)

@-moz-keyframes bz-dots2
  from
    -webkit-transform: translate(0, 0)
    -moz-transform: translate(0, 0)
    -ms-transform: translate(0, 0)
    -o-transform: translate(0, 0)
    transform: translate(0, 0)
  to
    -webkit-transform: translate(160%, 0)
    -moz-transform: translate(160%, 0)
    -ms-transform: translate(160%, 0)
    -o-transform: translate(160%, 0)
    transform: translate(160%, 0)

@-webkit-keyframes bz-dots2
  from
    -webkit-transform: translate(0, 0)
    -moz-transform: translate(0, 0)
    -ms-transform: translate(0, 0)
    -o-transform: translate(0, 0)
    transform: translate(0, 0)
  to
    -webkit-transform: translate(160%, 0)
    -moz-transform: translate(160%, 0)
    -ms-transform: translate(160%, 0)
    -o-transform: translate(160%, 0)
    transform: translate(160%, 0)

@-o-keyframes bz-dots2
  from
    -webkit-transform: translate(0, 0)
    -moz-transform: translate(0, 0)
    -ms-transform: translate(0, 0)
    -o-transform: translate(0, 0)
    transform: translate(0, 0)
  to
    -webkit-transform: translate(160%, 0)
    -moz-transform: translate(160%, 0)
    -ms-transform: translate(160%, 0)
    -o-transform: translate(160%, 0)
    transform: translate(160%, 0)

@keyframes bz-dots2
  from
    -webkit-transform: translate(0, 0)
    -moz-transform: translate(0, 0)
    -ms-transform: translate(0, 0)
    -o-transform: translate(0, 0)
    transform: translate(0, 0)
  to
    -webkit-transform: translate(160%, 0)
    -moz-transform: translate(160%, 0)
    -ms-transform: translate(160%, 0)
    -o-transform: translate(160%, 0)
    transform: translate(160%, 0)
