.bz-spin-circle
  display inline-block
  position relative
  width 64px
  height 64px

.bz-spin-circle div
  box-sizing border-box
  position absolute
  width 100%
  height 100%
  border 3px solid color-navy
  border-radius 50%
  animation bz-circle 1.8s cubic-bezier(.05, 0, .13, .9) infinite
  border-color color-navy transparent transparent transparent

.bz-spin-circle div:nth-child(1)
  animation-delay -0.45s

.bz-spin-circle div:nth-child(2)
  animation-delay -0.3s

.bz-spin-circle div:nth-child(3)
  animation-delay -0.15s

@keyframes bz-circle
  0%
    transform rotate(0deg)

  100%
    transform rotate(360deg)


.bz-spin-dots
  display inline-block
  position relative
  width 64px
  height 64px

.bz-spin-dots div
  position absolute
  top calc(50% - 6px)
  width 20%
  height 20%
  border-radius 50%
  background color-navy
  animation-timing-function cubic-bezier(0, 1, 1, 0)

.bz-spin-dots div:nth-child(1)
  left 10%
  animation bz-dots1 0.6s infinite

.bz-spin-dots div:nth-child(2)
  left 10%
  animation bz-dots2 0.6s infinite

.bz-spin-dots div:nth-child(3)
  left 40%
  animation bz-dots2 0.6s infinite

.bz-spin-dots div:nth-child(4)
  left 80%
  animation bz-dots3 0.6s infinite

@keyframes bz-dots1
  0%
    transform scale(0)

  100%
    transform scale(1)

@keyframes bz-dots3
  0%
    transform scale(1)

  100%
    transform scale(0)

@keyframes bz-dots2
  0%
    transform-translate(0, 0)
  100%
    transform-translate(160%, 0)

.bz-loader
  display inline-block
  position relative
  width 20px
  height 12px


.bz-loader div
  border none
  position absolute
  width 16px
  height 16px
  left 0
  top -4px
  vendor(animation, spin1 2s infinite linear)

.bz-rotate
  vendor(animation, spin1 2s infinite linear)

@keyframes spin1
  0%
    transform(rotate, 0deg)
  100%
    transform(rotate, 360deg)
