// Blues Tooltip
.bz-tooltip
  @extend .bz-relative
  @extend .bz-inline-block
  @extend .bz-cursor-pointer


.bz-tooltip .popover
  @extend .bz-shadow-2
  @extend .bz-none
  @extend .bz-absolute
  margin-left 50%
  z-index 9999

.bz-tooltip .popover
  background-color color-gray-dark
  border-radius 4px
  color color-white
  font-size 14px
  opacity 0.9
  padding 8px
  text-align center
  width 112px

.bz-tooltip .popover
  max-height 200px
  overflow hidden

.bz-tooltip.top .popover
  bottom calc(100% + 8px)
  left -56px

.bz-tooltip.bottom .popover
  bottom -8px
  left -56px
  transform-translate(0, 100%)

.bz-tooltip.right .popover
  top 50%
  right -8px
  transform-translate(100%, -50%)

.bz-tooltip.left .popover
  top 50%
  left calc(-50% - 8px)
  transform-translate(-100%, -50%)

.bz-tooltip.top:hover .popover
  display block
  -webkit-animation fade-in .3s ease-in-out, shift-up .3s ease-in-out
  -moz-animation fade-in .3s ease-in-out, shift-up .3s ease-in-out

.bz-tooltip.bottom:hover .popover
  display block
  -webkit-animation fade-in .3s ease-in-out, shift-down .3s ease-in-out
  -moz-animation fade-in .3s ease-in-out, shift-down .3s ease-in-out

.bz-tooltip.left:hover .popover
  display block
  -webkit-animation fade-in .3s ease-in-out, shift-left .3s ease-in-out
  -moz-animation fade-in .3s ease-in-out, shift-left .3s ease-in-out

.bz-tooltip.right:hover .popover
  display block
  -webkit-animation fade-in .3s ease-in-out, shift-right .3s ease-in-out
  -moz-animation fade-in .3s ease-in-out, shift-right .3s ease-in-out