.bz-transition.fast
  vendor(transition, all .3s ease)

.bz-transition
  vendor(transition, all .5s ease)

.bz-transition.slow
  vendor(transition, all .9s ease)

for j in (2 4 5 6 8)
  val = j/10
  .bz-scale-0{j}
    transform-scaling(val);
