.bz-toolbar {
  background: var(--color-faded);
  color: color-white;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  line-height: 32px;
  margin: 0 !important;
  padding: 0 !important;
  position: relative;
  height: 48px;
  width: 100%;
}
.bz-toolbar.primary {
  background: color-navy;
  color: color-white;
}
.bz-toolbar.primary.inverted {
  background: transparent;
  color: color-navy;
}
.bz-toolbar.positive {
  background: color-green;
  color: color-white;
}
.bz-toolbar.positive.inverted {
  background: transparent;
  color: color-green;
}
.bz-toolbar.negative {
  background: color-red;
  color: color-white;
}
.bz-toolbar .btn,
.bz-toolbar .title,
.bz-toolbar .tool {
  display: inline-block;
  height: 48px;
  margin: 0 !important;
  padding: 8px;
  position: relative;
}
.bz-toolbar .btn,
.bz-toolbar .tool {
  cursor: pointer;
  text-align: center;
}
.bz-toolbar .tool {
  width: 48px;
}
.bz-toolbar .title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  min-width: 1px;
  max-width: 100%;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.bz-toolbar .title h4,
.bz-toolbar .title h5,
.bz-toolbar .title h6 {
  margin: 0;
  vertical-align: middle;
}
.bz-toolbar .btn .back,
.bz-toolbar .tool .back {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  overflow: hidden;
  background: transparent;
  opacity: 0.5;
  margin: 4px;
  position: absolute;
}
.bz-toolbar .tool .back {
  width: 40px;
}
.bz-toolbar .tool .back.circle {
  border-radius: 50%;
}
.bz-toolbar .btn:hover .back,
.bz-toolbar .tool:hover .back {
  background: var(--color-light);
}
.bz-toolbar .tool i {
  font-size: 28px;
  line-height: 32px;
}
.bz-toolbar a {
  color: inherit;
  text-decoration: none;
}
