/* Blues Fonts */
bz-font-size = 16px
//font-blues = bz-font-size "Archivo Narrow", Helvetica, Arial, sans-serif
font-blues = bz-font-size "Open Sans", Helvetica, Arial, sans-serif

/* Blues Colors */
/* blues colors palette */
color-aqua = #75dafd
color-black = #000000
color-blue = #0072d4
/* default text color */
color-gray-darker = #212529
color-gray-dark = #444444
color-gray = #a8a9a9
/* aiwee & kitvendr gray */
color-gray-light = #d6d5d5
color-gray-lighter = #e8ebee
color-green = #14cb4f
/* aiwee & kitvendr blue */
color-navy = #102A62
color-orange = #ff852f
/* kitvendr red */
color-pink = #f03064
color-purple = #b211c4
color-red = #ff443b
color-white = #ffffff
color-yellow = #ffdc38

/* Screen Width */
mobile = 768px
monitor = 1024px
widescreen = 1280px

widths = {
  w-20p: {
    val: 20%,
    unit: '%'
  },
  w-25p: {
    val: 25%,
    unit: '%'
  },
  w-33p: {
    val: 33.333333%,
    unit: '%'
  },
  w-50p: {
    val: 50%,
    unit: '%'
  },
  w-66p: {
    val: 66.666666%,
    unit: '%'
  },
  w-75p: {
    val: 75,
    unit: '%'
  },
  w-80p: {
    val: 80%,
    unit: '%'
  },
  w-90p: {
    val: 90%,
    unit: '%'
  },
  w-100p: {
    val: 100%,
    unit: '%'
  },
  w-325px: {
    val: 325px,
    unit: 'px'
  },
  w-480px: {
    val: 480px,
    unit: 'px'
  },
  w-640px: {
    val: 640px,
    unit: 'px'
  },
  w-1024px: {
    val: 1024px,
    unit: 'px'
  }
}

/* Color Themes */
themes = {
  default: {
    fill: color-gray,
    text: color-black
  },
  primary: {
    fill: color-navy,
    text: color-white
  },
  secondary: {
    fill: color-blue,
    text: color-white
  },
  positive: {
    fill: color-green,
    text: color-gray-darker
  },
  negative: {
    fill: color-red,
    text: color-white
  },
  warning: {
    fill: color-orange,
    text: color-white
  },
  yellow: {
    fill: color-yellow,
    text: color-gray-darker
  },
  info: {
    fill: color-aqua,
    text: color-gray-darker
  },
  dark: {
    fill: color-gray-darker,
    text: color-white
  },
  light: {
    fill: color-gray-light,
    text: color-gray-darker
  },
  white: {
    fill: color-white,
    text: color-gray-darker
  },
  black: {
    fill: color-black,
    text: color-white
  }
}

color_pairs = ('aqua' 'info') ('gray' 'default') ('navy' 'primary') ('blue' 'secondary') ('green' 'positive') ('red' 'negative') ('orange' 'warning') ('gray-darker' 'dark') ('gray-light' 'light')

text_sizes = ('xx's 0.4em) ('xs' 0.6em) ('s' 0.8em) ('l' 1.2em) ('xl' 1.5em) ('xxl' 1.8em) ('2x' 2em) ('3x' 3em) ('4x' 4em) ('5x' 5em)

text_weights = (lighter 200) (regular 400) (bold 600) (bolder 800)

text_aligns = left center right justify

text_transforms = uppercase lowercase capitalize

sides = top right bottom left

floats = left right

textinputs = email number password search tel text url

skipemail = number password search tel text url