/* Blues Width */
for w in widths
  .bz-{w}
    width: widths[w].val

.bz-w-325-1024
  min-width: 325px
  max-width: 1024px
.bz-w-325-1280
  min-width: 325px
  max-width: 1280px
.bz-w-325-1450
  min-width: 325px
  max-width: 1450px
.bz-w-325-100p
  min-width: 325px
  max-width: 100%