{{#section 'styles'}}
    <link rel='stylesheet' href='../stylesheets/bz-neu.css' />
    <style>

    </style>
{{/section}}
<div class="bz-page-box bz-animate-left bz-neo-theme">
    <div class="bz-toolbar-box">

    </div>
    <div class="bz-title-box">
        <h1>{{title}} (Concept) </h1>
    </div>
    <div class="bz-w-100p">
        <div class="bz-box bz-block">
            <div class="bz-neo neo-box bz-neo-bc-default neo-radius-8 bz-padding-8">
                Some text goes here
            </div>
        </div>

        <div class="bz-box bz-block">
            <input type="text" class="bz-neo neo-box bz-neo-bc-default neo-radius-8" placeholder="Name">
            <select class="bz-neo neo-box bz-neo-bc-default neo-radius-8">
                <option>Select gender</option>
                <option>Male</option>
                <option>Female</option>
            </select>
            <button class="bz-neo neo-box bz-neo-bc-default neo-radius-8">
                Button
            </button>
            <button class="bz-neo neo-circle bz-neo-bc-default neo-w-48">
                <i class="bzi-user bz-fc-negative"></i>
            </button>
        </div>

        <div class="bz-box bz-block">

            <button class="bz-neo neo-box bz-neo-bc-default neo-radius-8" disabled>
                Button
            </button>
            <button class="bz-neo neo-circle bz-neo-bc-default neo-w-48" disabled>
                <i class="bzi-user bz-fc-negative"></i>
            </button>
            <button class="bz-neo neo-box bz-neo-bc-default neo-radius-8">
                Button
            </button>
            <button class="bz-neo neo-circle bz-neo-bc-default neo-w-48">
                <i class="bzi-user bz-fc-negative"></i>
            </button>
        </div>

        <div class="bz-box bz-inline-block">
            <div class="bz-neo neo-box neo-radius-16 bz-neo-bc-default">
                <form class="bz-form vertical bz-padding-16">
                    <input type="text" class="bz-neo neo-box bz-neo-bc-default neo-radius-8 " placeholder="Name">
                    <input type="text" class="bz-neo neo-box bz-neo-bc-default neo-radius-8 " placeholder="Last Name">
                    <select class="bz-neo neo-box bz-neo-bc-default neo-radius-8 ">
                        <option>Select gender</option>
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                    <input type="password" class="bz-neo neo-box bz-neo-bc-default neo-radius-8" placeholder="Password">
                    <button type="button" class="bz-neo neo-box bz-neo-bc-default neo-radius-8 bz-float-right">
                        Sign Up
                    </button>
                </form>
            </div>
        </div>

        <div class="bz-box bz-inline-block">

            <div class="bz-neo neo-box neo-radius-4 neo-h-8 bz-neo-bc-default progress">
                <div class="bz-neo neo-box neo-radius-4 neo-h-8 bz-bc-positive" style="width: 38%;"></div>
            </div>

        </div>


        <div class="bz-box bz-inline-block">
            <div class="bz-neo neo-box neo-radius-16 bz-neo-bc-default">
                <form class="bz-form vertical bz-padding-16">

                    <div class="bz-neo-input">
                        <i class="bzi-user"></i>
                        <input type="text" name="name" class="bz-neo neo-box bz-neo-bc-default neo-radius-8 valid" data-msg="Name is required" placeholder="Name">
                        <div class="error">Name is required</div>
                    </div>
                    <div class="bz-neo-input">
                        <i class="bzi-user"></i>
                        <input type="text" class="bz-neo neo-box bz-neo-bc-default neo-radius-8 invalid" title="Last Name is required" placeholder="Last Name">
                        <div class="error">Last Name is required</div>
                    </div>
                    <div class="bz-neo-input">
                        <select class="bz-neo neo-box extend bz-neo-bc-default neo-radius-8 invalid">
                            <option>Select gender</option>
                            <option>Male</option>
                            <option>Female</option>
                        </select>
                        <div class="error">Select gender</div>
                    </div>

                    <div class="bz-neo-input">
                        <i class="bzi-key"></i>
                        <i class="bz-neo-show-pass bzi-eye"></i>
                        <input type="password" class="bz-neo neo-box bz-neo-bc-default neo-radius-8 invalid" placeholder="Password">
                        <div class="error">Password is required</div>
                    </div>



                    <button type="button" class="bz-neo neo-box bz-neo-bc-default neo-radius-8 bz-float-right">
                        Sign Up
                    </button>
                </form>
            </div>
        </div>

    </div>
</div>
{{#section 'scripts'}}
    <script>

    </script>
{{/section}}